In [1]:
# Dependencies
import requests
import pandas as pd
import matplotlib as plt
import numpy as np
import json
import sqlalchemy
from sqlalchemy import create_engine
from pymongo import MongoClient

In [ ]:
# Save url as variable
url = "https://us-states.p.rapidapi.com/all"

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "us-states.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers)
data = response.json()

# Print the response
print(response.text)

In [3]:
# Write the data to a json file
with open('data.json', 'w') as outfile:
    json.dump(data, outfile, indent=4)

In [ ]:
# Create a pandas data frame
df = pd.json_normalize(response.json())
df

In [ ]:
# Check data types
df.dtypes

In [6]:
# Check the counts
df.count()

name                          56
postal                        56
date                          56
nickname                      56
fips                          56
                              ..
symbols.heritage livestock     1
symbols.bat                    1
symbols.oyster                 1
symbols.cocktail               1
symbols.domestic animal        1
Length: 203, dtype: int64

In [7]:
# Slice the data frame to check for nulls
df.iloc[:,196:203]

,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop all territories
states_df = df.drop([2,11,36,41,47])
states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop half of the columns that have nulls
clean_states_df = states_df.drop(columns=['status','other_nicknames','standard_federal_region','status','other_nicknames','standard_federal_region','koppen_climate','population.density_km','elevation.min_ft','elevation.min_m','elevation.mean_ft','elevation.span_ft','elevation.mean_rank','elevation.span_m','elevation.mean_m','elevation.max_m','area.land_km','area.water_rank','area.total_rank','area.land_mi','area.water_km','area.total_km','area.land_percent','area.water_mi','area.water_percent','symbols.mascot','symbols.fruit','symbols.tree fruit','symbols.soil','symbols.game bird','symbols.reptile','symbols.amphibian','symbols.nut','symbols.vegetable','symbols.rock','symbols.saltwater fish','symbols.mammal','symbols.butterfly','symbols.cake','symbols.insect','symbols.mineral','symbols.spirit','symbols.fossil','symbols.freshwater fish','symbols.wildflower','symbols.shell','symbols.land mammal','symbols.fish','symbols.bolt action rifle','symbols.dog','symbols.marine mammal','symbols.sport','symbols.plant','symbols.metal','symbols.colors','symbols.drink','symbols.firearm','symbols.dinosaur','symbols.floral emblem','symbols.folk dance','symbols.grape','symbols.fruit and vegetable','symbols.musical instrument','symbols.primitive fish','symbols.grain','symbols.cooking pot','symbols.lichen','symbols.grass','symbols.marine reptile','symbols.dance','symbols.tartan','symbols.gold rush ghost town', 'symbols.marine animal','symbols.macroinvertebrate','symbols.wildlife animal','symbols.dessert','symbols.bug','symbols.beverage','symbols.herb','symbols.saltwater mammal','symbols.heritage cattle breed','symbols.pie','symbols.stone','symbols.tortoise','symbols.saltwater reptile','symbols.prepared food','symbols.waltz','symbols.cold water gamefish','symbols.crop','symbols.raptor','symbols.exercise','symbols.artifact','symbols.snackfood','symbols.prairie grass','symbols.slogan','symbols.river','symbols.rifle','symbols.red wine grape','symbols.white wine grape','symbols.flying fossil','symbols.gun', 'symbols.wild animal game species',	'symbols.sports car', 'symbols.crustacean',	'symbols.meat pie','symbols.berry',	'symbols.treat','symbols.ballad','symbols.cat','symbols.team sport','symbols.donut','symbols.bean',	'symbols.cookie','symbols.muffin','symbols.folk song', 'symbols.bee','symbols.mushroom', 'symbols.waterfowl','symbols.toy','symbols.tree nut','symbols.fruit tree','symbols.hockey team','symbols.football team','symbols.endangered species','symbols.soft drink','symbols.poultry','symbols.saltwater game fish','symbols.freshwater game fish','symbols.spider','symbols.cryptid','symbols.bush','symbols.freshwater trout','symbols.salamander', 'symbols.marsupial','symbols.flying mammal','symbols.game animal','symbols.microbe','symbols.coral','symbols.appetizer','symbols.heritage horse','symbols.jewelry','symbols.bread','symbols.shrub','symbols.pastry','symbols.dish','symbols.handgun','symbols.hymn', 'symbols.astronomical symbol','symbols.emblem','symbols.heritage livestock','symbols.bat','symbols.oyster','symbols.cocktail','symbols.domestic animal','symbols.hero','symbols.shellfish',"symbols.children's flower",'symbols.heroine','symbols.polka','symbols.music','symbols.game mammal','symbols.aquatic animal','symbols.frog','symbols.star','symbols.horse','symbols.neckwear','symbols.silver rush ghost town','symbols.marine fish','symbols.fabric',	'symbols.pets',	'symbols.cactus','symbols.animal','population.density_mi','ap_abbreviation','gpo_abbreviation','symbols.flower','symbols.song','symbols.gem','subdivisions','census_bureau.region','census_bureau.division','symbols.bird'])
clean_states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,motto,capital.name,capital.latitude,capital.longitude,population.total,elevation.max_rank,elevation.max_ft,area.total_mi,area.land_rank,symbols.tree
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,Audemus jura nostra defendere,Montgomery,32.377716,-86.300568,5024279,38,2413,52420.07,28,Southern Longleaf Pine
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,North to the Future,Juneau,58.301598,-134.420212,733391,1,20310,665384.04,1,Sitka Spruce
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,Ditat Deus,Phoenix,33.448143,-112.096962,7151502,12,12637,113990.3,6,Palo Verde
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,Regnat populus,Little Rock,34.746613,-92.288986,3011524,37,2753,53178.55,27,Pine Tree
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,Eureka,Sacramento,38.576668,-121.493629,39538223,2,14505,163694.74,3,"Coast Redwood,Giant Sequoia"
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,Nil sine numine,Denver,39.739227,-104.984856,5773714,3,14440,104093.67,8,Colorado Blue Spruce
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,Qui transtulit sustinet,Hartford,41.764046,-72.682198,3605944,39,2379,5543.41,48,Charter Oak
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,Liberty and independence,Dover,39.157307,-75.519722,989948,54,447,2488.72,50,American Holly
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,In God we trust,Tallahassee,21.307442,-157.857376,21538187,56,345,65757.7,26,Sabal Palm
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,"Wisdom, Justice, Moderation",Atlanta,30.438118,-84.281296,10711908,25,4784,59425.15,21,Southern Live Oak
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,Ua Mau ke Ea o ka ina i ka Pono,Honolulu,33.749027,-84.388229,1455271,6,13803,10931.72,47,Kukui Tree
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,Esto perpetua,Boise,43.617775,-116.199722,1839106,11,12668,83568.95,11,Western White Pine
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,"State sovereignty, national union",Springfield,39.798363,-89.654961,12812508,50,1235,57913.55,24,White Oak
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,The crossroads of America,Indianapolis,39.768623,-86.162643,6785528,49,1257,36419.55,38,Tulip Tree
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,Our liberties we prize and our rights we will ...,Des Moines,41.591087,-93.603729,3190369,45,1671,56272.81,23,Oak
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,Ad astra per aspera,Topeka,39.048191,-95.677956,2937880,29,4041,82278.36,13,Cottonwood
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,"United we stand, divided we fall",Frankfort,38.186722,-84.875374,4505836,28,4145,40407.8,37,Tulip Poplar
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,"Union, justice, and confidence",Baton Rouge,30.457069,-91.187393,4657757,53,535,52378.13,33,Bald Cypress
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,Dirigo,Augusta,44.307167,-69.781693,1362359,22,5270,35379.74,39,Eastern White Pine
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,"Fatti maschi, parole femmine",Annapolis,38.978764,-76.490936,6177224,33,3360,12405.93,42,White Oak
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,Ense petit placidam sub libertate quietem,Boston,42.358162,-71.063698,7029917,32,3489,10554.39,45,American Elm
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,Si quaeris peninsulam amoenam circumspice,Lansing,42.733635,-84.555328,10077331,41,1979,96713.51,22,Eastern White Pine
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,Ltoile du Nord,St. Paul,44.955097,-93.102211,5706494,40,2302,86935.83,14,Norway Pine
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,Virtute et armis,Jackson,32.303848,-90.182106,2961279,52,807,48431.78,31,Southern Magnolia
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,Salus populi suprema lex esto,Jefferson City,38.579201,-92.172935,6154913,44,1772,69706.99,18,Flowering Dogwood
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,Oro y plata,Helena,46.585709,-112.018417,1084225,10,12807,147039.71,4,Ponderosa Pine
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,Equality before the law,Lincoln,40.808075,-96.699654,1961504,20,5427,77347.81,15,Cottonwood
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,All for our country,Carson City,39.163914,-119.766121,3104614,9,13147,110571.82,7,Bristlecone Pine
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,Live free or die,Concord,43.206898,-71.537994,1377529,18,6288,9349.16,44,White Birch
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,Liberty and Prosperity,Trenton,40.220596,-74.769913,9288994,43,1803,8722.58,46,Northern Red Oak
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,Crescit eundo,Santa Fe,35.68224,-105.939728,2117522,8,13167,121590.3,5,Two-Needle Pinon Pine
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,Excelsior!,Albany,35.78043,-78.639099,20201249,21,5343,54554.98,30,Sugar Maple
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,Esse quam videri,Raleigh,46.82085,-100.783318,10439388,16,6684,53819.16,29,Pine Tree
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,"Liberty and union, now and forever, one and in...",Bismarck,42.652843,-73.757874,779094,31,3508,70698.32,17,American Elm
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,"With God, all things are possible",Columbus,39.961346,-82.999069,11799448,47,1549,44825.58,35,Ohio Buckeye
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,Labor omnia vincit,Oklahoma City,35.492207,-97.503342,3959353,23,4975,69898.87,19,Redbud
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,"The Union, and Alis volat propriis",Salem,44.938461,-123.030403,4237256,13,11249,98378.54,10,Douglas-Fir
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,"Virtue, Liberty and Independence",Harrisburg,40.264378,-76.883598,13002700,34,3213,46054.34,32,Eastern Hemlock
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,Hope,Providence,41.830914,-71.414963,1097379,51,811,1544.89,51,Red Maple
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,Dum spiro spero,Columbia,34.000343,-81.033211,5118425,30,3560,32020.49,40,Sabal Palmetto
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,Under God the people rule,Pierre,44.367031,-100.346405,886667,15,7244,77115.68,16,Black Hills Spruce
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,Agriculture and Commerce,Nashville,36.16581,-86.784241,6910840,17,6643,42144.25,34,Tulip Poplar
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Friendship,Austin,30.27467,-97.740349,29145505,14,8751,268596.46,2,Pecan
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,Industry,Salt Lake City,40.777477,-111.888237,3271616,7,13534,84896.88,12,Quaking Aspen
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,Freedom and Unity and Stella quarta decima ful...,Montpelier,44.262436,-72.580536,643077,26,4395,9616.36,43,Sugar Maple
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,Sic semper tyrannis,Richmond,37.538857,-77.43364,8631393,19,5729,42774.93,36,American Dogwood
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,Al-ki,Olympia,47.035805,-122.905014,7705281,4,14417,71297.95,20,Western Hemlock
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,Justitia Omnibus,"Washington, D.C.",38.9101,-77.0147,689545,55,409,68.34,56,Scarlet Oak
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,Montani semper liberi,Charleston,38.336246,-81.612328,1793716,24,4863,24230.04,41,Sugar Maple
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,Forward,Madison,43.074684,-89.384445,5893718,42,1951,65496.38,25,Sugar Maple
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,Equal Rights,Cheyenne,41.140259,-104.820236,576851,5,13809,97813.01,9,Plains Cottonwood

In [ ]:
# Show all columns of data frame
pd.options.display.max_columns = None
clean_states_df = clean_states_df.replace({np.nan: None})
clean_states_df.to_html('states.html',index=False,classes=["table","table-striped","table-bordered"])
clean_states_df

In [ ]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring 
querystring = {"query":"Entry Level Data Scientist in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_scientists = response.json()

# Write the data to a json file
with open('entry_level_data_scientists.json', 'w') as outfile:
    json.dump(entry_level_data_scientists, outfile, indent=4)


# Print response
print(response.text)

In [ ]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring
querystring = {"query":"Entry Level Data Analyst in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_analyst = response.json()

# Write the data to a json file
with open('entry_level_data_analyst.json', 'w') as outfile:
    json.dump(entry_level_data_analyst, outfile, indent=4)


# Print response
print(response.text)

In [ ]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df = pd.json_normalize(entry_level_data_analyst, 'data')
new_df = df.loc[:, columns]
new_df

In [ ]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df2 = pd.json_normalize(entry_level_data_scientists, 'data')
new_data_df = df2.loc[:, columns]
new_data_df

In [ ]:
# Add the two data frames together 
result_df = pd.concat([new_df, new_data_df], axis=0)
result_df = result_df.replace({np.nan: None})
result_df = result_df.replace({'\n': ' '}, regex=True)
result_df.to_html('jobs_table.html',index=False,classes=["table","table-striped","table-bordered"])
result_df

In [16]:
# Connect to the MongoDB server
client = MongoClient()

# Choose the database you want to use
db = client.data

# Insert the clean_states_df data frame into a collection named "clean_states"
db.states.insert_many(clean_states_df.to_dict('records'))

# Insert the result_df data frame into a collection named "result"
db.jobs.insert_many(result_df.to_dict('records'))