In [2]:
# Dependencies
import requests
import pandas as pd
import matplotlib as plt
import numpy as np
import json

# Save url as variable
url = "https://us-states.p.rapidapi.com/all"

headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "us-states.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers)
data = response.json()

print(response.text)

[{"name": "Alabama", "postal": "AL", "capital": {"name": "Montgomery", "latitude": "32.377716", "longitude": "-86.300568"}, "date": "Dec 14, 1819", "population": {"density_km": "37", "total": "5024279", "density_mi": "95"}, "nickname": "Heart of Dixie", "fips": "01", "demonym": "Alabamian", "cities": [{"name": "Huntsville", "population": "215006"}, {"name": "Birmingham", "population": "200733"}, {"name": "Montgomery", "population": "198956"}, {"name": "Mobile", "population": "189572"}, {"name": "Tuscaloosa", "population": "101113"}], "lowest_point": "Gulf of Mexico", "highest_point": "Cheaha Mountain", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "500", "max_rank": "38", "max_ft": "2413", "span_ft": "2413", "mean_rank": "44", "span_m": "736", "mean_m": "150", "max_m": "736"}, "area": {"total_mi": "52420.07", "land_rank": "28", "land_km": "131171", "water_rank": "25", "total_rank": "30", "land_mi": "50645.33", "water_km": "4597", "total_km": "135767", "land_percent": "96.61", "water_mi": "1774.74", "water_percent": "3.39"}, "website": "http://www.alabama.gov", "per_capita_income": "$23,606 ", "median_household_income": "$49,861 ", "status": "state", "other_nicknames": ["Camellia State", "Yellowhammer State", "Cotton State"], "standard_federal_region": "Region IV", "census_bureau": {"region": "South", "division": "East South Central"}, "ap_abbreviation": "Ala.", "gpo_abbreviation": "Ala.", "representatives": "7", "time_zones": ["CST"], "koppen_climate": ["Cfa"], "motto": "Audemus jura nostra defendere", "symbols": {"mascot": "Eastern Tiger Wwallowtail", "fruit": "Blackberry", "tree fruit": "Peach", "soil": "Bama", "game bird": "Wild Turkey", "reptile": "Alabama Red-Bellied Turtle", "amphibian": "Red Hills Salamander", "nut": "Pecan", "vegetable": "Sweet Potato", "gem": "Star Blue Quartz", "rock": "Marble", "saltwater fish": "Atlantic Tarpon", "mammal": "American Black Bear", "butterfly": "Eastern Tiger Swallowtail", "cake": "Lane Cake", "bird": "Yellowhammer", "insect": "Monarch Butterfly", "mineral": "Hematite", "song": "Alabama", "spirit": "Conecuh Ridge Alabama Fine Whiskey", "tree": "Southern Longleaf Pine", "fossil": "Basilosaurus", "freshwater fish": "Largemouth Bass", "flower": "Camellia", "horse": "Racking Horse", "wildflower": "Oak-Leaf Hydrangea", "shell": "Johnstone's Junonia"}, "subdivisions": ["Autauga", "Baldwin", "Barbour", "Bibb", "Blount", "Bullock", "Butler", "Calhoun", "Chambers", "Cherokee", "Chilton", "Choctaw", "Clarke", "Clay", "Cleburne", "Coffee", "Colbert", "Conecuh", "Coosa", "Covington", "Crenshaw", "Cullman", "Dale", "Dallas", "DeKalb", "Elmore", "Escambia", "Etowah", "Fayette", "Franklin", "Geneva", "Greene", "Hale", "Henry", "Houston", "Jackson", "Jefferson", "Lamar", "Lauderdale", "Lawrence", "Lee", "Limestone", "Lowndes", "Macon", "Madison", "Marengo", "Marion", "Marshall", "Mobile", "Monroe", "Montgomery", "Morgan", "Perry", "Pickens", "Pike", "Randolph", "Russell", "St. Clair", "Shelby", "Sumter", "Talladega", "Tallapoosa", "Tuscaloosa", "Walker", "Washington", "Wilcox", "Winston"]}, {"name": "Alaska", "postal": "AK", "capital": {"name": "Juneau", "latitude": "58.301598", "longitude": "-134.420212"}, "date": "Jan 3, 1959", "population": {"density_km": "<1", "total": "733391", "density_mi": "1"}, "nickname": "The Last Frontier", "fips": "02", "demonym": "Alaskan", "cities": [{"name": "Anchorage", "population": "291538"}, {"name": "Juneau", "population": "32197"}, {"name": "Fairbanks", "population": "31516"}, {"name": "Wasilla", "population": "10529"}, {"name": "Sitka", "population": "8647"}], "lowest_point": "Gulf of Alaska, Bering Sea, and Arctic Ocean", "highest_point": "Denali", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "1900", "max_rank": "1", "max_ft": "20310", "span_ft": "20310", "mean_rank": "15", "span_m": "6191", "mean_m": "580", "max_m": "6191"}, "area": {"total_mi": "665384.04", "land_rank": "1", "land_km": "1477953", "water_rank": "1", "total_rank": "1", "land_mi": "570640.95", "water_km": "245384", "total_km": "1723337", "land_percent": "85.76", "water_mi": "94743.1", "water_percent": "14.24"}, "website": "http://alaska.gov/", "per_capita_income": "$33,062 ", "median_household_income": "$74,346 ", "status": "state", "other_nicknames": ["Great Land", "Land of the Midnight Sun", "Mainland State", "49th State", "North Star State", "Up Over", "Seward's Ice Box", "Seward's Folly"], "standard_federal_region": "Region X", "census_bureau": {"region": "West", "division": "Pacific"}, "ap_abbreviation": "Alaska", "gpo_abbreviation": "Alaska", "representatives": "1", "time_zones": ["AKST", "HST"], "koppen_climate": ["BSk", "Cfb", "Cfc", "Dsb", "Dsc", "Dwc", "Dfb", "Dfc", "ET", "EF"], "motto": "North to the Future", "symbols": {"song": "Alaska's Flag", "tree": "Sitka Spruce", "land mammal": "Moose", "fossil": "Woolly Mammoth", "gem": "Jade", "flower": "Forget-Me-Not", "bird": "Willow Ptarmigan", "fish": "King Salmon", "insect": "Four-Spot Skimmer Dragonfly", "bolt action rifle": "Pre-1964 Winchester Model 70", "mineral": "Gold", "dog": "Alaskan Malamute", "marine mammal": "Bowhead Whale", "sport": "Dog Mushing"}, "subdivisions": ["Aleutians East Borough", "Aleutians West Census Area", "Municipality of Anchorage", "Bethel Census Area", "Bristol Bay Borough", "Chugach Census Area", "Copper River Census Area", "Denali Borough", "Dillingham Census Area", "Fairbanks North Star Borough", "Haines Borough", "Hoonah\u2013Angoon Census Area", "City and Borough of Juneau", "Kenai Peninsula Borough", "Ketchikan Gateway Borough", "Kodiak Island Borough", "Kusilvak Census Area", "Lake and Peninsula Borough", "Matanuska-Susitna Borough", "Nome Census Area", "North Slope Borough", "Northwest Arctic Borough", "Petersburg Borough", "Prince of Wales \u2013 Hyder Census Area", "City and Borough of Sitka", "Municipality of Skagway", "Southeast Fairbanks Census Area", "City and Borough of Wrangell", "City and Borough of Yakutat", "Yukon\u2013Koyukuk Census Area"]}, {"name": "American Samoa", "postal": "AS", "capital": {"name": "Pago Pago", "latitude": "-14.279444", "longitude": "-170.700556"}, "date": "Feb 20, 1929", "population": {"density_km": "279", "total": "49710", "density_mi": "721"}, "nickname": "Motu o Fiafiaga", "fips": "60", "demonym": "American Samoan", "cities": [{"name": "Tafuna", "population": "7945"}, {"name": "Nu'uuli", "population": "3955"}, {"name": "Pago Pago", "population": "3656"}, {"name": "'Ili'ili", "population": "3195"}, {"name": "Pava'ia'i", "population": "2450"}], "lowest_point": "Pacific Ocean", "highest_point": "Lata Mountain on Ta\u2018\u016b island", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "1581", "max_rank": "35", "max_ft": "3170", "span_ft": "3170", "mean_rank": "19", "span_m": "966", "mean_m": "482", "max_m": "966"}, "area": {"total_mi": "581.05", "land_rank": "55", "land_km": "198", "water_rank": "47", "total_rank": "54", "land_mi": "76.46", "water_km": "1307", "total_km": "1505", "land_percent": "13.16", "water_mi": "504.6", "water_percent": "86.84"}, "website": "https://www.americansamoa.gov/", "per_capita_income": "$6,311 ", "median_household_income": "$22,000 ", "status": "unincorporated unorganized territory", "standard_federal_region": "Region IX", "gpo_abbreviation": "A.S.", "representatives": "1", "time_zones": ["SST"], "koppen_climate": ["Af", "Aw"], "motto": "Samoa, Muamua Le Atua", "symbols": {"song": "Amerika Samoa", "tree": "Paogo", "flower": "Paogo", "plant": "Ava"}, "subdivisions": ["Eastern District", "Manu'a District", "Rose Atoll (Rose Island)", "Swains Island", "Western District"]}, {"name": "Arizona", "postal": "AZ", "capital": {"name": "Phoenix", "latitude": "33.448143", "longitude": "-112.096962"}, "date": "Feb 14, 1912", "population": {"density_km": "23", "total": "7151502", "density_mi": "60"}, "nickname": "Grand Canyon State", "fips": "04", "demonym": "Arizonan", "cities": [{"name": "Phoenix", "population": "1660272"}, {"name": "Tucson", "population": "545975"}, {"name": "Mesa", "population": "508958"}, {"name": "Chandler", "population": "257165"}, {"name": "Scottsdale", "population": "255310"}], "lowest_point": "Colorado River at Sonora border, San Luis, Arizona", "highest_point": "Humphreys Peak", "elevation": {"min_ft": "72", "min_m": "22", "mean_ft": "4100", "max_rank": "12", "max_ft": "12637", "span_ft": "12565", "mean_rank": "7", "span_m": "3830", "mean_m": "1250", "max_m": "3852"}, "area": {"total_mi": "113990.3", "land_rank": "6", "land_km": "294207", "water_rank": "52", "total_rank": "6", "land_mi": "113594.08", "water_km": "1026", "total_km": "295234", "land_percent": "99.65", "water_mi": "396.22", "water_percent": "0.35"}, "website": "https://az.gov/", "per_capita_income": "$25,715 ", "median_household_income": "$59,246 ", "status": "state", "other_nicknames": ["Apache State", "Copper State"], "standard_federal_region": "Region IX", "census_bureau": {"region": "West", "division": "Mountain"}, "ap_abbreviation": "Ariz.", "gpo_abbreviation": "Ariz.", "representatives": "9", "time_zones": ["MST"], "koppen_climate": ["ET", "Dsc", "Dsb", "Cfb", "Csc", "Csb", "Csa", "BSk", "BSh", "BWk", "BWh"], "motto": "Ditat Deus", "symbols": {"song": "Arizona March Song,Arizona", "metal": "Copper", "tree": "Palo Verde", "soil": "Casa Grande", "reptile": "Arizona Ridge-Nosed Rattlesnake", "amphibian": "Arizona Tree Frog", "fossil": "Petrified Wood", "colors": "Federal Blue and Old Gold", "drink": "Lemonade", "gem": "Turquoise", "flower": "Saguaro Cactus Blossom", "mammal": "Ring-Tailed Cat", "butterfly": "Two-Tailed Swallowtail", "bird": "Cactus Wren", "fish": "Apache Trout", "firearm": "Colt Single Action Army", "dinosaur": "Sonorasaurus", "mineral": "Wulfenite", "neckwear": "Bolo Tie"}, "subdivisions": ["Apache", "Cochise", "Coconino", "Gila", "Graham", "Greenlee", "La Paz", "Maricopa", "Mohave", "Navajo", "Pima", "Pinal", "Santa Cruz", "Yavapai", "Yuma"]}, {"name": "Arkansas", "postal": "AR", "capital": {"name": "Little Rock", "latitude": "34.746613", "longitude": "-92.288986"}, "date": "Jun 15, 1836", "population": {"density_km": "22", "total": "3011524", "density_mi": "57"}, "nickname": "Natural State", "fips": "05", "demonym": "Arkansan", "cities": [{"name": "Little Rock", "population": "197881"}, {"name": "Fort Smith", "population": "87845"}, {"name": "Fayetteville", "population": "86751"}, {"name": "Springdale", "population": "81029"}, {"name": "Jonesboro", "population": "76990"}], "lowest_point": "Ouachita River at Louisiana border", "highest_point": "Mount Magazine", "elevation": {"min_ft": "55", "min_m": "17", "mean_ft": "650", "max_rank": "37", "max_ft": "2753", "span_ft": "2698", "mean_rank": "39", "span_m": "822", "mean_m": "200", "max_m": "839"}, "area": {"total_mi": "53178.55", "land_rank": "27", "land_km": "134771", "water_rank": "33", "total_rank": "29", "land_mi": "52035.48", "water_km": "2961", "total_km": "137732", "land_percent": "97.85", "water_mi": "1143.07", "water_percent": "2.15"}, "website": "http://www.arkansas.gov/", "per_capita_income": "$22,883 ", "median_household_income": "$47,062 ", "status": "state", "other_nicknames": ["Bear State", "Land of OpportunityWonder State"], "standard_federal_region": "Region VI", "census_bureau": {"region": "South", "division": "West South Central"}, "ap_abbreviation": "Ark.", "gpo_abbreviation": "Ark.", "representatives": "4", "time_zones": ["CST"], "koppen_climate": ["Cfa"], "motto": "Regnat populus", "symbols": {"floral emblem": "Apple Blossom", "tree": "Pine Tree", "folk dance": "Square Dance", "soil": "Stuttgart Soil Series", "grape": "Cynthiana", "nut": "Pecan", "fruit and vegetable": "South Arkansas Vine Ripe Pink Tomato", "drink": "Milk", "gem": "Diamond", "rock": "Bauxite", "musical instrument": "Fiddle", "mammal": "White-Tailed Deer", "butterfly": "Diana Fritillary Butterfly", "bird": "Mockingbird", "primitive fish": "Alligator Gar", "insect": "Honey Bee", "grain": "Rice", "mineral": "Quartz", "cooking pot": "Dutch Oven"}, "subdivisions": ["Arkansas", "Ashley", "Baxter", "Benton", "Boone", "Bradley", "Calhoun", "Carroll", "Chicot", "Clark", "Clay", "Cleburne", "Cleveland", "Columbia", "Conway", "Craighead", "Crawford", "Crittenden", "Cross", "Dallas", "Desha", "Drew", "Faulkner", "Franklin", "Fulton", "Garland", "Grant", "Greene", "Hempstead", "Hot Spring", "Howard", "Independence", "Izard", "Jackson", "Jefferson", "Johnson", "Lafayette", "Lawrence", "Lee", "Lincoln", "Little River", "Logan", "Lonoke", "Madison", "Marion", "Miller", "Mississippi", "Monroe", "Montgomery", "Nevada", "Newton", "Ouachita", "Perry", "Phillips", "Pike", "Poinsett", "Polk", "Pope", "Prairie", "Pulaski", "Randolph", "St. Francis", "Saline", "Scott", "Searcy", "Sebastian", "Sevier", "Sharp", "Stone", "Union", "Van Buren", "Washington", "White", "Woodruff", "Yell"]}, {"name": "California", "postal": "CA", "capital": {"name": "Sacramento", "latitude": "38.576668", "longitude": "-121.493629"}, "date": "Sep 9, 1850", "population": {"density_km": "97", "total": "39538223", "density_mi": "251"}, "nickname": "Golden State", "fips": "06", "demonym": "Californian", "cities": [{"name": "Los Angeles", "population": "3997984"}, {"name": "San Diego", "population": "1425976"}, {"name": "San Jose", "population": "1030119"}, {"name": "San Francisco", "population": "884198"}, {"name": "Fresno", "population": "530093"}], "lowest_point": "Badwater Basin in Death Valley", "highest_point": "Mount Whitney", "elevation": {"min_ft": "\u2212282", "min_m": "\u221286", "mean_ft": "2900", "max_rank": "2", "max_ft": "14505", "span_ft": "14783", "mean_rank": "11", "span_m": "4506", "mean_m": "880", "max_m": "4421"}, "area": {"total_mi": "163694.74", "land_rank": "3", "land_km": "403466", "water_rank": "6", "total_rank": "3", "land_mi": "155779.22", "water_km": "20501", "total_km": "423967", "land_percent": "95.16", "water_mi": "7915.52", "water_percent": "4.84"}, "website": "https://www.ca.gov/", "per_capita_income": "$30,441 ", "median_household_income": "$75,277 ", "status": "state", "other_nicknames": ["El Dorado State", "Golden West", "Grape State", "Land of Milk and Honey", "Sunshine State", "Liberal Land"], "standard_federal_region": "Region IX", "census_bureau": {"region": "West", "division": "Pacific"}, "ap_abbreviation": "Calif.", "gpo_abbreviation": "Calif.", "representatives": "53", "time_zones": ["PST"], "koppen_climate": ["ET", "Dsc", "Dsb", "Csc", "Csb", "Csa", "BSk", "BSh", "BWk", "Bwh"], "motto": "Eureka", "symbols": {"fruit": "Avocado", "lichen": "Lace lichen", "soil": "San Joaquin", "reptile": "Desert Tortoise", "amphibian": "California Red-Legged Frog", "nut": "Almond,Walnut,Pistachio,Pecan", "vegetable": "Artichoke", "colors": "Blue and Gold", "gem": "Benitoite", "rock": "Serpentine", "grass": "Purple Needlegrass", "bird": "California Quail", "insect": "California Dogface Butterfly", "dinosaur": "Augustynolophus", "grain": "Rice", "mineral": "Gold", "marine reptile": "Leatherback Sea Turtle", "dance": "West Coast Swing", "marine mammal": "Gray Whale", "tartan": "California State Tartan", "gold rush ghost town": "Bodie", "tree": "Coast Redwood,Giant Sequoia", "folk dance": "Square Dance", "silver rush ghost town": "Calico", "fossil": "Saber-Toothed Cat", "freshwater fish": "Golden Trout", "flower": "California Poppy", "marine fish": "Garibaldi", "fabric": "Denim", "sport": "Surfing"}, "subdivisions": ["Alameda", "Alpine", "Amador", "Butte", "Calaveras", "Colusa", "Contra Costa", "Del Norte", "El Dorado", "Fresno", "Glenn", "Humboldt", "Imperial", "Inyo", "Kern", "Kings", "Lake", "Lassen", "Los Angeles", "Madera", "Marin", "Mariposa", "Mendocino", "Merced", "Modoc", "Mono", "Monterey", "Napa", "Nevada", "Orange", "Placer", "Plumas", "Riverside", "Sacramento", "San Benito", "San Bernardino", "San Diego", "City and County of San Francisco", "San Joaquin", "San Luis Obispo", "San Mateo", "Santa Barbara", "Santa Clara", "Santa Cruz", "Shasta", "Sierra", "Siskiyou", "Solano", "Sonoma", "Stanislaus", "Sutter", "Tehama", "Trinity", "Tulare", "Tuolumne", "Ventura", "Yolo", "Yuba"]}, {"name": "Colorado", "postal": "CO", "capital": {"name": "Denver", "latitude": "39.739227", "longitude": "-104.984856"}, "date": "Aug 1, 1876", "population": {"density_km": "20", "total": "5773714", "density_mi": "52"}, "nickname": "Centennial State", "fips": "08", "demonym": "Coloradan", "cities": [{"name": "Denver", "population": "719238"}, {"name": "Colorado Springs", "population": "483829"}, {"name": "Aurora", "population": "374114"}, {"name": "Fort Collins", "population": "167830"}, {"name": "Lakewood", "population": "156798"}], "lowest_point": "Arikaree River at Kansas border", "highest_point": "Mount Elbert", "elevation": {"min_ft": "3317", "min_m": "1011", "mean_ft": "6800", "max_rank": "3", "max_ft": "14440", "span_ft": "11123", "mean_rank": "1", "span_m": "3390", "mean_m": "2070", "max_m": "4401"}, "area": {"total_mi": "104093.67", "land_rank": "8", "land_km": "268431", "water_rank": "48", "total_rank": "8", "land_mi": "103641.89", "water_km": "1170", "total_km": "269601", "land_percent": "99.57", "water_mi": "451.78", "water_percent": "0.43"}, "website": "http://www.colorado.gov/", "per_capita_income": "$32,357 ", "median_household_income": "$71,953 ", "status": "state", "other_nicknames": ["Columbine State", "Last Frontier", "Last Old West State", "Mile High State", "Mountain State", "Rocky Mountain State"], "standard_federal_region": "Region VIII", "census_bureau": {"region": "West", "division": "Mountain"}, "ap_abbreviation": "Colo.", "gpo_abbreviation": "Colo.", "representatives": "7", "time_zones": ["MST"], "koppen_climate": ["ET", "Dfc", "Dfb", "Dfa", "Dwc", "Dwb", "Dsc", "Dsb", "Dsa", "Cfb", "Cfa", "Cwb", "Csb", "Csa", "BSk", "BWk"], "motto": "Nil sine numine", "symbols": {"pets": "Colorado Shelter Pets", "song": "Where the Columbines Grow,Rocky Mountain High", "tartan": "Colorado State Tartan", "tree": "Colorado Blue Spruce", "folk dance": "Square Dance", "soil": "Seitz Soil", "reptile": "Western Painted Turtle", "amphibian": "Western Tiger Salamander", "fossil": "Stegosaurus", "gem": "Aquamarine", "flower": "Rocky Mountain Columbine", "rock": "Yule Marble", "mammal": "Rocky Mountain Bighorn Sheep", "grass": "Blue Grama Grass", "bird": "Lark Bunting", "fish": "Greenback Cutthroat Trout", "cactus": "Claret Cup Cactus", "insect": "Colorado Hairstreak Butterfly", "animal": "California Grizzly Bear", "mineral": "Rhodochrosite", "sport": "Pack Burro Racing"}, "subdivisions": ["Adams", "Alamosa", "Arapahoe", "Archuleta", "Baca", "Bent", "Boulder", "City and County of Broomfield", "Chaffee", "Cheyenne", "Clear Creek", "Conejos", "Costilla", "Crowley", "Custer", "Delta", "City and County of Denver", "Dolores", "Douglas", "Eagle", "Elbert", "El Paso", "Fremont", "Garfield", "Gilpin", "Grand", "Gunnison", "Hinsdale", "Huerfano", "Jackson", "Jefferson", "Kiowa", "Kit Carson", "Lake", "La Plata", "Larimer", "Las Animas", "Lincoln", "Logan", "Mesa", "Mineral", "Moffat", "Montezuma", "Montrose", "Morgan", "Otero", "Ouray", "Park", "Phillips", "Pitkin", "Prowers", "Pueblo", "Rio Blanco", "Rio Grande", "Routt", "Saguache", "San Juan", "San Miguel", "Sedgwick", "Summit", "Teller", "Washington", "Weld", "Yuma"]}, {"name": "Connecticut", "postal": "CT", "capital": {"name": "Hartford", "latitude": "41.764046", "longitude": "-72.682198"}, "date": "Jan 9, 1788", "population": {"density_km": "286", "total": "3605944", "density_mi": "741"}, "nickname": "Constitution State", "fips": "09", "demonym": "Connecticuter", "cities": [{"name": "Bridgeport", "population": "144900"}, {"name": "New Haven", "population": "130418"}, {"name": "Stamford", "population": "129775"}, {"name": "Hartford", "population": "122587"}, {"name": "Waterbury", "population": "108093"}], "lowest_point": "Long Island Sound", "highest_point": "Massachusetts border on the southern slope of Mount Frissell

In [3]:
# Write the data to a json file
with open('data.json', 'w') as outfile:
    json.dump(data, outfile, indent=4)

In [4]:
# Create a pandas data frame
df = pd.json_normalize(response.json())
df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,AS,"Feb 20, 1929",Motu o Fiafiaga,60,American Samoan,"[{'name': 'Tafuna', 'population': '7945'}, {'n...",Pacific Ocean,Lata Mountain on Ta island,https://www.americansamoa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Guam,GU,"Apr 11, 1899",Tano y Chamorro,66,Guamanian,"[{'name': 'Dededo', 'population': '44943'}, {'...",Pacific Ocean,Mount Lamlam,https://www.guam.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Northern Mariana Islands,MP,"Jan 9, 1978",Hfa Adai,69,Mariana Islander,"[{'name': 'Saipan', 'population': '48220'}, {'...",Pacific Ocean,Unnamed point on Agrihan island,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Puerto Rico,PR,"Apr 11, 1899",Isla del Encanto,72,Puerto Rican,"[{'name': 'San Juan', 'population': '320967'},...",Atlantic Ocean (Caribbean sea),Cerro de Punta,https://pr.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,U.S. Virgin Islands,VI,"Mar 31, 1917",Twin City,49,Virgin Islander,"[{'name': 'Charlotte Amalie', 'population': '1...",Atlantic Ocean (Caribbean Sea),Crown Mountain on the island of Saint Thomas,https://www.vi.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check data types
df.dtypes

name                          object
postal                        object
date                          object
nickname                      object
fips                          object
                               ...
symbols.heritage livestock    object
symbols.bat                   object
symbols.oyster                object
symbols.cocktail              object
symbols.domestic animal       object
Length: 203, dtype: object

In [6]:
# Check the counts
df.count()

name                          56
postal                        56
date                          56
nickname                      56
fips                          56
                              ..
symbols.heritage livestock     1
symbols.bat                    1
symbols.oyster                 1
symbols.cocktail               1
symbols.domestic animal        1
Length: 203, dtype: int64

In [17]:
df.iloc[:,196:203]

,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop all territories
states_df = df.drop([2,11,36,41,47])
states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Drop half of the columns that have nulls
clean_states_df = states_df.drop(columns=['status','other_nicknames','standard_federal_region','status','other_nicknames','standard_federal_region','koppen_climate','population.density_km','elevation.min_ft','elevation.min_m','elevation.mean_ft','elevation.span_ft','elevation.mean_rank','elevation.span_m','elevation.mean_m','elevation.max_m','area.land_km','area.water_rank','area.total_rank','area.land_mi','area.water_km','area.total_km','area.land_percent','area.water_mi','area.water_percent','symbols.mascot','symbols.fruit','symbols.tree fruit','symbols.soil','symbols.game bird','symbols.reptile','symbols.amphibian','symbols.nut','symbols.vegetable','symbols.rock','symbols.saltwater fish','symbols.mammal','symbols.butterfly','symbols.cake','symbols.insect','symbols.mineral','symbols.spirit','symbols.fossil','symbols.freshwater fish','symbols.wildflower','symbols.shell','symbols.land mammal','symbols.fish','symbols.bolt action rifle','symbols.dog','symbols.marine mammal','symbols.sport','symbols.plant','symbols.metal','symbols.colors','symbols.drink','symbols.firearm','symbols.dinosaur','symbols.floral emblem','symbols.folk dance','symbols.grape','symbols.fruit and vegetable','symbols.musical instrument','symbols.primitive fish','symbols.grain','symbols.cooking pot','symbols.lichen','symbols.grass','symbols.marine reptile','symbols.dance','symbols.tartan','symbols.gold rush ghost town', 'symbols.marine animal','symbols.macroinvertebrate','symbols.wildlife animal','symbols.dessert','symbols.bug','symbols.beverage','symbols.herb','symbols.saltwater mammal','symbols.heritage cattle breed','symbols.pie','symbols.stone','symbols.tortoise','symbols.saltwater reptile','symbols.prepared food','symbols.waltz','symbols.cold water gamefish','symbols.crop','symbols.raptor','symbols.exercise','symbols.artifact','symbols.snackfood','symbols.prairie grass','symbols.slogan','symbols.river','symbols.rifle','symbols.red wine grape','symbols.white wine grape','symbols.flying fossil','symbols.gun', 'symbols.wild animal game species',	'symbols.sports car', 'symbols.crustacean',	'symbols.meat pie','symbols.berry',	'symbols.treat','symbols.ballad','symbols.cat','symbols.team sport','symbols.donut','symbols.bean',	'symbols.cookie','symbols.muffin','symbols.folk song', 'symbols.bee','symbols.mushroom', 'symbols.waterfowl','symbols.toy','symbols.tree nut','symbols.fruit tree','symbols.hockey team','symbols.football team','symbols.endangered species','symbols.soft drink','symbols.poultry','symbols.saltwater game fish','symbols.freshwater game fish','symbols.spider','symbols.cryptid','symbols.bush','symbols.freshwater trout','symbols.salamander', 'symbols.marsupial','symbols.flying mammal','symbols.game animal','symbols.microbe','symbols.coral','symbols.appetizer','symbols.heritage horse','symbols.jewelry','symbols.bread','symbols.shrub','symbols.pastry','symbols.dish','symbols.handgun','symbols.hymn', 'symbols.astronomical symbol','symbols.emblem','symbols.heritage livestock','symbols.bat','symbols.oyster','symbols.cocktail','symbols.domestic animal','symbols.hero','symbols.shellfish',"symbols.children's flower",'symbols.heroine','symbols.polka','symbols.music','symbols.game mammal','symbols.aquatic animal','symbols.frog','symbols.star','symbols.horse','symbols.neckwear','symbols.silver rush ghost town','symbols.marine fish','symbols.fabric',	'symbols.pets',	'symbols.cactus','symbols.animal','population.density_mi','ap_abbreviation','gpo_abbreviation'])
clean_states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,per_capita_income,median_household_income,representatives,time_zones,motto,subdivisions,capital.name,capital.latitude,capital.longitude,population.total,elevation.max_rank,elevation.max_ft,area.total_mi,area.land_rank,census_bureau.region,census_bureau.division,symbols.gem,symbols.bird,symbols.song,symbols.tree,symbols.flower
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606","$49,861",7,[CST],Audemus jura nostra defendere,"[Autauga, Baldwin, Barbour, Bibb, Blount, Bull...",Montgomery,32.377716,-86.300568,5024279,38,2413,52420.07,28,South,East South Central,Star Blue Quartz,Yellowhammer,Alabama,Southern Longleaf Pine,Camellia
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062","$74,346",1,"[AKST, HST]",North to the Future,"[Aleutians East Borough, Aleutians West Census...",Juneau,58.301598,-134.420212,733391,1,20310,665384.04,1,West,Pacific,Jade,Willow Ptarmigan,Alaska's Flag,Sitka Spruce,Forget-Me-Not
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715","$59,246",9,[MST],Ditat Deus,"[Apache, Cochise, Coconino, Gila, Graham, Gree...",Phoenix,33.448143,-112.096962,7151502,12,12637,113990.3,6,West,Mountain,Turquoise,Cactus Wren,"Arizona March Song,Arizona",Palo Verde,Saguaro Cactus Blossom
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883","$47,062",4,[CST],Regnat populus,"[Arkansas, Ashley, Baxter, Benton, Boone, Brad...",Little Rock,34.746613,-92.288986,3011524,37,2753,53178.55,27,South,West South Central,Diamond,Mockingbird,NaN,Pine Tree,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441","$75,277",53,[PST],Eureka,"[Alameda, Alpine, Amador, Butte, Calaveras, Co...",Sacramento,38.576668,-121.493629,39538223,2,14505,163694.74,3,West,Pacific,Benitoite,California Quail,NaN,"Coast Redwood,Giant Sequoia",California Poppy
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357","$71,953",7,[MST],Nil sine numine,"[Adams, Alamosa, Arapahoe, Archuleta, Baca, Be...",Denver,39.739227,-104.984856,5773714,3,14440,104093.67,8,West,Mountain,Aquamarine,Lark Bunting,"Where the Columbines Grow,Rocky Mountain High",Colorado Blue Spruce,Rocky Mountain Columbine
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373","$76,348",5,[EST],Qui transtulit sustinet,"[Fairfield, Hartford, Litchfield, Middlesex, N...",Hartford,41.764046,-72.682198,3605944,39,2379,5543.41,48,Northeast,New England,NaN,American Robin,Yankee Doodle,Charter Oak,Mountain Laurel
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488","$64,805",1,[EST],Liberty and independence,"[Kent, New Castle, Sussex]",Dover,39.157307,-75.519722,989948,54,447,2488.72,50,South,South Atlantic,NaN,Delaware Blue Hen,Our Delaware,American Holly,Peach Blossoms
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582","$55,462",27,[CST],In God we trust,"[Alachua, Baker, Bay, Bradford, Brevard, Browa...",Tallahassee,21.307442,-157.857376,21538187,56,345,65757.7,26,South,South Atlantic,Moonstone,Northern Mockingbird,Our Folks at Home,Sabal Palm,Orang Blossom
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615","$58,756",14,[EST],"Wisdom, Justice, Moderation","[Appling, Atkinson, Bacon, Baker, Baldwin, Ban...",Atlanta,30.438118,-84.281296,10711908,25,4784,59425.15,21,South,South Atlantic,Quartz,Brown Thrasher,Georgia on My Mind,Southern Live Oak,Cherokee Rose
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736","$80,212",2,[HST],Ua Mau ke Ea o ka ina i ka Pono,"[Hawaii, City and County of Honolulu, Kalawao,...",Honolulu,33.749027,-84.388229,1455271,6,13803,10931.72,47,West,Pacific,Black Coral,Nene,Hawai'I Pono'i,Kukui Tree,Pua Aloalo
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938","$55,583",2,"[MST, PST]",Esto perpetua,"[Ada, Adams, Bannock, Bear Lake, Benewah, Bing...",Boise,43.617775,-116.199722,1839106,11,12668,83568.95,11,West,Mountain,Star Garnet,Mountain Bluebird,Here We Have Idaho,Western White Pine,Syringa
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417","$65,030",18,[CST],"State sovereignty, national union","[Adams, Alexander, Bond, Boone, Brown, Bureau,...",Springfield,39.798363,-89.654961,12812508,50,1235,57913.55,24,Midwest,East North Central,NaN,Northern Cardinal,Illinois,White Oak,Violet
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140","$55,746",9,"[CST, EST]",The crossroads of America,"[Adams, Allen, Bartholomew, Benton, Blackford,...",Indianapolis,39.768623,-86.162643,6785528,49,1257,36419.55,38,Midwest,East North Central,NaN,Cardinal,"On the Banks of the Wabash, Far Away",Tulip Tree,Peony
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361","$59,955",4,[CST],Our liberties we prize and our rights we will ...,"[Adair, Adams, Allamakee, Appanoose, Audubon, ...",Des Moines,41.591087,-93.603729,3190369,45,1671,56272.81,23,Midwest,West North Central,NaN,American Goldfinch,The Song of Iowa,Oak,Wild Rose
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870","$58,218",4,"[CST, EST]",Ad astra per aspera,"[Allen, Anderson, Atchison, Barber, Barton, Bo...",Topeka,39.048191,-95.677956,2937880,29,4041,82278.36,13,Midwest,West North Central,Jelinite,Western Meadowlark,Home on the Range,Cottonwood,Wild Native Sunflower
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684","$50,247",6,"[CST, EST]","United we stand, divided we fall","[Adair, Allen, Anderson, Ballard, Barren, Bath...",Frankfort,38.186722,-84.875374,4505836,28,4145,40407.8,37,South,East South Central,Freshwater Pearl,Cardinal,My Old Kentucky Home,Tulip Poplar,Goldenrod
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800","$47,905",6,[CST],"Union, justice, and confidence","[Acadia Parish, Allen Parish, Ascension Parish...",Baton Rouge,30.457069,-91.187393,4657757,53,535,52378.13,33,South,West South Central,Crassostrea Virginica Oyster Shell,Brown Pelican,"You Are My Sunshine,Give Me Louisiana",Bald Cypress,Magnolia
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978","$55,602",2,[EST],Dirigo,"[Androscoggin, Aroostook, Cumberland, Franklin...",Augusta,44.307167,-69.781693,1362359,22,5270,35379.74,39,Northeast,New England,Tourmaline,Chickadee,State of Maine Song,Eastern White Pine,White Pine Cone And Tassel
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338","$83,242",8,[EST],"Fatti maschi, parole femmine","[Allegany, Anne Arundel, Baltimore, Calvert, C...",Annapolis,38.978764,-76.490936,6177224,33,3360,12405.93,42,South,South Atlantic,Patuxent River Stone,Baltimore Oriole,NaN,White Oak,Black-Eyed Susan
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593","$79,835",9,[EST],Ense petit placidam sub libertate quietem,"[Barnstable, Berkshire, Bristol, Dukes, Essex,...",Boston,42.358162,-71.063698,7029917,32,3489,10554.39,45,Northeast,New England,Rhodonite,Chickadee,All Hail to Massachusetts,American Elm,Mayflower
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613","$56,697",14,"[CST, EST]",Si quaeris peninsulam amoenam circumspice,"[Alcona, Alger, Allegan, Alpena, Antrim, Arena...",Lansing,42.733635,-84.555328,10077331,41,1979,96713.51,22,Midwest,East North Central,Isle Royale Greenstone,American Robin,My Michigan,Eastern White Pine,Apple Blossom
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638","$70,315",8,[CST],Ltoile du Nord,"[Aitkin, Anoka, Becker, Beltrami, Benton, Big ...",St. Paul,44.955097,-93.102211,5706494,40,2302,86935.83,14,Midwest,West North Central,Lake Superior Agate,Common Loon,Hail! Minnesota,Norway Pine,Pink-And-White Lady's Slipper
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036","$44,717",4,[CST],Virtute et armis,"[Adams, Alcorn, Amite, Attala, Benton, Bolivar...",Jackson,32.303848,-90.182106,2961279,52,807,48431.78,31,South,East South Central,NaN,Northern Mockingbird,"Go, Mississippi",Southern Magnolia,Magnolia
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126","$54,478",8,[CST],Salus populi suprema lex esto,"[Adair, Andrew, Atchison, Audrain, Barry, Bart...",Jefferson City,38.579201,-92.172935,6154913,44,1772,69706.99,18,Midwest,West North Central,NaN,Bluebird,Missouri Waltz,Flowering Dogwood,Hawthorn
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989","$55,328",1,[MST],Oro y plata,"[Beaverhead, Big Horn, Blaine, Broadwater, Car...",Helena,46.585709,-112.018417,1084225,10,12807,147039.71,4,West,Mountain,"Sapphire,Montana Moss Agate",Western Meadowlark,NaN,Ponderosa Pine,Bitterroot
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446","$59,566",3,"[CST, MST]",Equality before the law,"[Adams, Antelope, Arthur, Banner, Blaine, Boon...",Lincoln,40.808075,-96.699654,1961504,20,5427,77347.81,15,Midwest,West North Central,Blue Agate,Western Meadowlark,Beautiful Nebraska,Cottonwood,Goldenrod
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773","$58,646",4,"[MST, PST]",All for our country,"[Churchill, Clark, Douglas, Elko, Esmeralda, E...",Carson City,39.163914,-119.766121,3104614,9,13147,110571.82,7,West,Mountain,NaN,Mountain Bluebird,Home Means Nevada,Bristlecone Pine,Sagebrush
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691","$74,991",2,[EST],Live free or die,"[Belknap, Carroll, Cheshire, Coos, Grafton, Hi...",Concord,43.206898,-71.537994,1377529,18,6288,9349.16,44,Northeast,New England,Smokey Quartz,Purple Finch,Old New Hampshire,White Birch,Purple Lilac
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,"$37,288","$81,740",12,[EST],Liberty and Prosperity,"[Atlantic, Bergen, Burlington, Camden, Cape Ma...",Trenton,40.220596,-74.769913,9288994,43,1803,8722.58,46,Northeast,Mid-Atlantic,NaN,Eastern Goldfinch,NaN,Northern Red Oak,Common Meadow Violet
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683","$47,169",3,[MST],Crescit eundo,"[Bernalillo, Catron, Chaves, Cibola, Colfax, C...",Santa Fe,35.68224,-105.939728,2117522,8,13167,121590.3,5,West,Mountain,Turquoise,Chaparral Bird,O Fair New Mexico,Two-Needle Pinon Pine,Yucca Flower
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095","$67,844",27,[EST],Excelsior!,"[Albany, Allegany, Bronx, Broome, Cattaraugus,...",Albany,35.78043,-78.639099,20201249,21,5343,54554.98,30,Northeast,Mid-Atlantic,Garnet,Eastern Bluebird,NaN,Sugar Maple,Rose
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774","$53,855",13,[EST],Esse quam videri,"[Alamance, Alexander, Alleghany, Anson, Ashe, ...",Raleigh,46.82085,-100.783318,10439388,16,6684,53819.16,29,South,South Atlantic,NaN,Cardinal,The Old North State,Pine Tree,Flowering Dogwood
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071","$63,837",1,"[CST, MST]","Liberty and union, now and forever, one and in...","[Adams, Barnes, Benson, Billings, Bottineau, B...",Bismarck,42.652843,-73.757874,779094,31,3508,70698.32,17,Midwest,West North Central,NaN,Western Meadowlark,North Dakato Hymn,American Elm,Wild Prairie Rose
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937","$56,111",16,[EST],"With God, all things are possible","[Adams, Allen, Ashland, Ashtabula, Athens, Aug...",Columbus,39.961346,-82.999069,11799448,47,1549,44825.58,35,Midwest,East North Central,Ohio Flignt,Cardinal,Beautiful Ohio,Ohio Buckeye,Scarlet Carnation
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229","$51,924",5,[CST],Labor omnia vincit,"[Adair, Alfalfa, Atoka, Beaver, Beckham, Blain...",Oklahoma City,35.492207,-97.503342,3959353,23,4975,69898.87,19,South,West South Central,NaN,Scissor-Tailed Flycatcher,NaN,Redbud,Oklahoma Rose
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646","$63,426",5,"[MST, PST]","The Union, and Alis volat propriis","[Baker, Benton, Clackamas, Clatsop, Columbia, ...",Salem,44.938461,-123.030403,4237256,13,11249,98378.54,10,West,Pacific,Oregon Sunstone,Western Meadowlark,"Oregon, My Oregon",Douglas-Fir,Oregon-Grape
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220","$60,905",18,[EST],"Virtue, Liberty and Independence","[Adams, Allegheny, Armstrong, Beaver, Bedford,...",Harrisburg,40.264378,-76.883598,13002700,34,3213,46054.34,32,Northeast,Mid-Atlantic,NaN,NaN,Pennsylvania,Eastern Hemlock,Mountain Laurel
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830","$64,340",2,[EST],Hope,"[Bristol, Kent, Newport, Providence, Washington]",Providence,41.830914,-71.414963,1097379,51,811,1544.89,51,Northeast,New England,NaN,Rhode Island Red Chicken,"Rhode Island, It's for Me",Red Maple,Violet
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596","$52,306",7,[EST],Dum spiro spero,"[Abbeville, Aiken, Allendale, Anderson, Bamber...",Columbia,34.000343,-81.033211,5118425,30,3560,32020.49,40,South,South Atlantic,Amethyst,Carolina Wren,"Carolina,South Carolina On My Mind",Sabal Palmetto,Yellow Jessamine
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959","$56,274",1,"[CST, MST]",Under God the people rule,"[Aurora, Beadle, Bennett, Bon Homme, Brookings...",Pierre,44.367031,-100.346405,886667,15,7244,77115.68,16,Midwest,West North Central,Fairburn Agate,Ring-Necked Pheasant,"Hail, South Dakota!",Black Hills Spruce,American Pasque Flower
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922","$52,375",9,"[CST, EST]",Agriculture and Commerce,"[Anderson, Bedford, Benton, Bledsoe, Blount, B...",Nashville,36.16581,-86.784241,6910840,17,6643,42144.25,34,South,East South Central,NaN,Mockingbird,NaN,Tulip Poplar,Iris
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125","$60,629",36,"[CST, MST]",Friendship,"[Anderson, Andrews, Angelina, Aransas, Archer,...",Austin,30.27467,-97.740349,29145505,14,8751,268596.46,2,South,West South Central,Texas Blue Topaz,Northern Mockingbird,"Texas, Our Texas",Pecan,Bluebonnets
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877","$71,414",4,[CST],Industry,"[Beaver, Box Elder, Cache, Carbon, Daggett, Da...",Salt Lake City,40.777477,-111.888237,3271616,7,13534,84896.88,12,West,Mountain,Topaz,California Gull,Utah This Is The Place,Quaking Aspen,Sego Lily
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178","$60,782",1,[EST],Freedom and Unity and Stella quarta decima ful...,"[Addison, Bennington, Caledonia, Chittenden, E...",Montpelier,44.262436,-72.580536,643077,26,4395,9616.36,43,Northeast,New England,Grossular Garnet,Hermit Thrush,These Green Mountains,Sugar Maple,Red Clover

In [24]:
pd.options.display.max_columns = None
clean_states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,per_capita_income,median_household_income,representatives,time_zones,motto,subdivisions,capital.name,capital.latitude,capital.longitude,population.total,elevation.max_rank,elevation.max_ft,area.total_mi,area.land_rank,census_bureau.region,census_bureau.division,symbols.gem,symbols.bird,symbols.song,symbols.tree,symbols.flower
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606","$49,861",7,[CST],Audemus jura nostra defendere,"[Autauga, Baldwin, Barbour, Bibb, Blount, Bull...",Montgomery,32.377716,-86.300568,5024279,38,2413,52420.07,28,South,East South Central,Star Blue Quartz,Yellowhammer,Alabama,Southern Longleaf Pine,Camellia
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062","$74,346",1,"[AKST, HST]",North to the Future,"[Aleutians East Borough, Aleutians West Census...",Juneau,58.301598,-134.420212,733391,1,20310,665384.04,1,West,Pacific,Jade,Willow Ptarmigan,Alaska's Flag,Sitka Spruce,Forget-Me-Not
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715","$59,246",9,[MST],Ditat Deus,"[Apache, Cochise, Coconino, Gila, Graham, Gree...",Phoenix,33.448143,-112.096962,7151502,12,12637,113990.3,6,West,Mountain,Turquoise,Cactus Wren,"Arizona March Song,Arizona",Palo Verde,Saguaro Cactus Blossom
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883","$47,062",4,[CST],Regnat populus,"[Arkansas, Ashley, Baxter, Benton, Boone, Brad...",Little Rock,34.746613,-92.288986,3011524,37,2753,53178.55,27,South,West South Central,Diamond,Mockingbird,NaN,Pine Tree,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441","$75,277",53,[PST],Eureka,"[Alameda, Alpine, Amador, Butte, Calaveras, Co...",Sacramento,38.576668,-121.493629,39538223,2,14505,163694.74,3,West,Pacific,Benitoite,California Quail,NaN,"Coast Redwood,Giant Sequoia",California Poppy
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357","$71,953",7,[MST],Nil sine numine,"[Adams, Alamosa, Arapahoe, Archuleta, Baca, Be...",Denver,39.739227,-104.984856,5773714,3,14440,104093.67,8,West,Mountain,Aquamarine,Lark Bunting,"Where the Columbines Grow,Rocky Mountain High",Colorado Blue Spruce,Rocky Mountain Columbine
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373","$76,348",5,[EST],Qui transtulit sustinet,"[Fairfield, Hartford, Litchfield, Middlesex, N...",Hartford,41.764046,-72.682198,3605944,39,2379,5543.41,48,Northeast,New England,NaN,American Robin,Yankee Doodle,Charter Oak,Mountain Laurel
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488","$64,805",1,[EST],Liberty and independence,"[Kent, New Castle, Sussex]",Dover,39.157307,-75.519722,989948,54,447,2488.72,50,South,South Atlantic,NaN,Delaware Blue Hen,Our Delaware,American Holly,Peach Blossoms
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582","$55,462",27,[CST],In God we trust,"[Alachua, Baker, Bay, Bradford, Brevard, Browa...",Tallahassee,21.307442,-157.857376,21538187,56,345,65757.7,26,South,South Atlantic,Moonstone,Northern Mockingbird,Our Folks at Home,Sabal Palm,Orang Blossom
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615","$58,756",14,[EST],"Wisdom, Justice, Moderation","[Appling, Atkinson, Bacon, Baker, Baldwin, Ban...",Atlanta,30.438118,-84.281296,10711908,25,4784,59425.15,21,South,South Atlantic,Quartz,Brown Thrasher,Georgia on My Mind,Southern Live Oak,Cherokee Rose
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736","$80,212",2,[HST],Ua Mau ke Ea o ka ina i ka Pono,"[Hawaii, City and County of Honolulu, Kalawao,...",Honolulu,33.749027,-84.388229,1455271,6,13803,10931.72,47,West,Pacific,Black Coral,Nene,Hawai'I Pono'i,Kukui Tree,Pua Aloalo
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938","$55,583",2,"[MST, PST]",Esto perpetua,"[Ada, Adams, Bannock, Bear Lake, Benewah, Bing...",Boise,43.617775,-116.199722,1839106,11,12668,83568.95,11,West,Mountain,Star Garnet,Mountain Bluebird,Here We Have Idaho,Western White Pine,Syringa
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417","$65,030",18,[CST],"State sovereignty, national union","[Adams, Alexander, Bond, Boone, Brown, Bureau,...",Springfield,39.798363,-89.654961,12812508,50,1235,57913.55,24,Midwest,East North Central,NaN,Northern Cardinal,Illinois,White Oak,Violet
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140","$55,746",9,"[CST, EST]",The crossroads of America,"[Adams, Allen, Bartholomew, Benton, Blackford,...",Indianapolis,39.768623,-86.162643,6785528,49,1257,36419.55,38,Midwest,East North Central,NaN,Cardinal,"On the Banks of the Wabash, Far Away",Tulip Tree,Peony
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361","$59,955",4,[CST],Our liberties we prize and our rights we will ...,"[Adair, Adams, Allamakee, Appanoose, Audubon, ...",Des Moines,41.591087,-93.603729,3190369,45,1671,56272.81,23,Midwest,West North Central,NaN,American Goldfinch,The Song of Iowa,Oak,Wild Rose
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870","$58,218",4,"[CST, EST]",Ad astra per aspera,"[Allen, Anderson, Atchison, Barber, Barton, Bo...",Topeka,39.048191,-95.677956,2937880,29,4041,82278.36,13,Midwest,West North Central,Jelinite,Western Meadowlark,Home on the Range,Cottonwood,Wild Native Sunflower
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684","$50,247",6,"[CST, EST]","United we stand, divided we fall","[Adair, Allen, Anderson, Ballard, Barren, Bath...",Frankfort,38.186722,-84.875374,4505836,28,4145,40407.8,37,South,East South Central,Freshwater Pearl,Cardinal,My Old Kentucky Home,Tulip Poplar,Goldenrod
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800","$47,905",6,[CST],"Union, justice, and confidence","[Acadia Parish, Allen Parish, Ascension Parish...",Baton Rouge,30.457069,-91.187393,4657757,53,535,52378.13,33,South,West South Central,Crassostrea Virginica Oyster Shell,Brown Pelican,"You Are My Sunshine,Give Me Louisiana",Bald Cypress,Magnolia
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978","$55,602",2,[EST],Dirigo,"[Androscoggin, Aroostook, Cumberland, Franklin...",Augusta,44.307167,-69.781693,1362359,22,5270,35379.74,39,Northeast,New England,Tourmaline,Chickadee,State of Maine Song,Eastern White Pine,White Pine Cone And Tassel
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338","$83,242",8,[EST],"Fatti maschi, parole femmine","[Allegany, Anne Arundel, Baltimore, Calvert, C...",Annapolis,38.978764,-76.490936,6177224,33,3360,12405.93,42,South,South Atlantic,Patuxent River Stone,Baltimore Oriole,NaN,White Oak,Black-Eyed Susan
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593","$79,835",9,[EST],Ense petit placidam sub libertate quietem,"[Barnstable, Berkshire, Bristol, Dukes, Essex,...",Boston,42.358162,-71.063698,7029917,32,3489,10554.39,45,Northeast,New England,Rhodonite,Chickadee,All Hail to Massachusetts,American Elm,Mayflower
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613","$56,697",14,"[CST, EST]",Si quaeris peninsulam amoenam circumspice,"[Alcona, Alger, Allegan, Alpena, Antrim, Arena...",Lansing,42.733635,-84.555328,10077331,41,1979,96713.51,22,Midwest,East North Central,Isle Royale Greenstone,American Robin,My Michigan,Eastern White Pine,Apple Blossom
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638","$70,315",8,[CST],Ltoile du Nord,"[Aitkin, Anoka, Becker, Beltrami, Benton, Big ...",St. Paul,44.955097,-93.102211,5706494,40,2302,86935.83,14,Midwest,West North Central,Lake Superior Agate,Common Loon,Hail! Minnesota,Norway Pine,Pink-And-White Lady's Slipper
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036","$44,717",4,[CST],Virtute et armis,"[Adams, Alcorn, Amite, Attala, Benton, Bolivar...",Jackson,32.303848,-90.182106,2961279,52,807,48431.78,31,South,East South Central,NaN,Northern Mockingbird,"Go, Mississippi",Southern Magnolia,Magnolia
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126","$54,478",8,[CST],Salus populi suprema lex esto,"[Adair, Andrew, Atchison, Audrain, Barry, Bart...",Jefferson City,38.579201,-92.172935,6154913,44,1772,69706.99,18,Midwest,West North Central,NaN,Bluebird,Missouri Waltz,Flowering Dogwood,Hawthorn
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989","$55,328",1,[MST],Oro y plata,"[Beaverhead, Big Horn, Blaine, Broadwater, Car...",Helena,46.585709,-112.018417,1084225,10,12807,147039.71,4,West,Mountain,"Sapphire,Montana Moss Agate",Western Meadowlark,NaN,Ponderosa Pine,Bitterroot
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446","$59,566",3,"[CST, MST]",Equality before the law,"[Adams, Antelope, Arthur, Banner, Blaine, Boon...",Lincoln,40.808075,-96.699654,1961504,20,5427,77347.81,15,Midwest,West North Central,Blue Agate,Western Meadowlark,Beautiful Nebraska,Cottonwood,Goldenrod
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773","$58,646",4,"[MST, PST]",All for our country,"[Churchill, Clark, Douglas, Elko, Esmeralda, E...",Carson City,39.163914,-119.766121,3104614,9,13147,110571.82,7,West,Mountain,NaN,Mountain Bluebird,Home Means Nevada,Bristlecone Pine,Sagebrush
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691","$74,991",2,[EST],Live free or die,"[Belknap, Carroll, Cheshire, Coos, Grafton, Hi...",Concord,43.206898,-71.537994,1377529,18,6288,9349.16,44,Northeast,New England,Smokey Quartz,Purple Finch,Old New Hampshire,White Birch,Purple Lilac
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,"$37,288","$81,740",12,[EST],Liberty and Prosperity,"[Atlantic, Bergen, Burlington, Camden, Cape Ma...",Trenton,40.220596,-74.769913,9288994,43,1803,8722.58,46,Northeast,Mid-Atlantic,NaN,Eastern Goldfinch,NaN,Northern Red Oak,Common Meadow Violet
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683","$47,169",3,[MST],Crescit eundo,"[Bernalillo, Catron, Chaves, Cibola, Colfax, C...",Santa Fe,35.68224,-105.939728,2117522,8,13167,121590.3,5,West,Mountain,Turquoise,Chaparral Bird,O Fair New Mexico,Two-Needle Pinon Pine,Yucca Flower
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095","$67,844",27,[EST],Excelsior!,"[Albany, Allegany, Bronx, Broome, Cattaraugus,...",Albany,35.78043,-78.639099,20201249,21,5343,54554.98,30,Northeast,Mid-Atlantic,Garnet,Eastern Bluebird,NaN,Sugar Maple,Rose
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774","$53,855",13,[EST],Esse quam videri,"[Alamance, Alexander, Alleghany, Anson, Ashe, ...",Raleigh,46.82085,-100.783318,10439388,16,6684,53819.16,29,South,South Atlantic,NaN,Cardinal,The Old North State,Pine Tree,Flowering Dogwood
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071","$63,837",1,"[CST, MST]","Liberty and union, now and forever, one and in...","[Adams, Barnes, Benson, Billings, Bottineau, B...",Bismarck,42.652843,-73.757874,779094,31,3508,70698.32,17,Midwest,West North Central,NaN,Western Meadowlark,North Dakato Hymn,American Elm,Wild Prairie Rose
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937","$56,111",16,[EST],"With God, all things are possible","[Adams, Allen, Ashland, Ashtabula, Athens, Aug...",Columbus,39.961346,-82.999069,11799448,47,1549,44825.58,35,Midwest,East North Central,Ohio Flignt,Cardinal,Beautiful Ohio,Ohio Buckeye,Scarlet Carnation
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229","$51,924",5,[CST],Labor omnia vincit,"[Adair, Alfalfa, Atoka, Beaver, Beckham, Blain...",Oklahoma City,35.492207,-97.503342,3959353,23,4975,69898.87,19,South,West South Central,NaN,Scissor-Tailed Flycatcher,NaN,Redbud,Oklahoma Rose
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646","$63,426",5,"[MST, PST]","The Union, and Alis volat propriis","[Baker, Benton, Clackamas, Clatsop, Columbia, ...",Salem,44.938461,-123.030403,4237256,13,11249,98378.54,10,West,Pacific,Oregon Sunstone,Western Meadowlark,"Oregon, My Oregon",Douglas-Fir,Oregon-Grape
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220","$60,905",18,[EST],"Virtue, Liberty and Independence","[Adams, Allegheny, Armstrong, Beaver, Bedford,...",Harrisburg,40.264378,-76.883598,13002700,34,3213,46054.34,32,Northeast,Mid-Atlantic,NaN,NaN,Pennsylvania,Eastern Hemlock,Mountain Laurel
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830","$64,340",2,[EST],Hope,"[Bristol, Kent, Newport, Providence, Washington]",Providence,41.830914,-71.414963,1097379,51,811,1544.89,51,Northeast,New England,NaN,Rhode Island Red Chicken,"Rhode Island, It's for Me",Red Maple,Violet
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596","$52,306",7,[EST],Dum spiro spero,"[Abbeville, Aiken, Allendale, Anderson, Bamber...",Columbia,34.000343,-81.033211,5118425,30,3560,32020.49,40,South,South Atlantic,Amethyst,Carolina Wren,"Carolina,South Carolina On My Mind",Sabal Palmetto,Yellow Jessamine
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959","$56,274",1,"[CST, MST]",Under God the people rule,"[Aurora, Beadle, Bennett, Bon Homme, Brookings...",Pierre,44.367031,-100.346405,886667,15,7244,77115.68,16,Midwest,West North Central,Fairburn Agate,Ring-Necked Pheasant,"Hail, South Dakota!",Black Hills Spruce,American Pasque Flower
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922","$52,375",9,"[CST, EST]",Agriculture and Commerce,"[Anderson, Bedford, Benton, Bledsoe, Blount, B...",Nashville,36.16581,-86.784241,6910840,17,6643,42144.25,34,South,East South Central,NaN,Mockingbird,NaN,Tulip Poplar,Iris
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125","$60,629",36,"[CST, MST]",Friendship,"[Anderson, Andrews, Angelina, Aransas, Archer,...",Austin,30.27467,-97.740349,29145505,14,8751,268596.46,2,South,West South Central,Texas Blue Topaz,Northern Mockingbird,"Texas, Our Texas",Pecan,Bluebonnets
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877","$71,414",4,[CST],Industry,"[Beaver, Box Elder, Cache, Carbon, Daggett, Da...",Salt Lake City,40.777477,-111.888237,3271616,7,13534,84896.88,12,West,Mountain,Topaz,California Gull,Utah This Is The Place,Quaking Aspen,Sego Lily
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178","$60,782",1,[EST],Freedom and Unity and Stella quarta decima ful...,"[Addison, Bennington, Caledonia, Chittenden, E...",Montpelier,44.262436,-72.580536,643077,26,4395,9616.36,43,Northeast,New England,Grossular Garnet,Hermit Thrush,These Green Mountains,Sugar Maple,Red Clover

In [26]:
import requests

# Define the API endpoint and parameters
api_key = 'F02526DC-2E96-4574-B037-292EC2981EF5'
url = 'https://apps.bea.gov/api/data/'
params = {
    'UserID': api_key,
    'method': 'GetData',
    'datasetname': 'Regional',
    'TableName': 'SAGDP2N',
    'LineCode': '1',
    'GeoFips': 'STATE',
    'Year': 'LAST',
    'ResultFormat': 'JSON'
}

# Make a request to the BEA API
response = requests.get(url, params=params)
data = response.json()

# Iterate over the GDP data for each state
for item in data['BEAAPI']['Results']['Data']:
    state = item['GeoName']
    gdp = item['DataValue']
    print(f'{state}: {gdp}')

KeyError: 'Data'

In [46]:
import requests

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Entry Level Data Scientist in USA","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_scientists = response.json()

# Write the data to a json file
with open('entry_level_data_scientists.json', 'w') as outfile:
    json.dump(entry_level_data_scientists, outfile, indent=4)



print(response.text)

{"status":"OK","request_id":"714f0232-4ec6-4e66-8991-756caddae3d9","data":[{"employer_name":"National Security Agency","employer_logo":"https://upload.wikimedia.org/wikipedia/commons/8/8d/Seal_of_the_U.S._National_Security_Agency.svg","employer_website":"http://www.nsa.gov","job_publisher":"LinkedIn","job_id":"LqfiD7It-VoAAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Data Scientist - Entry to Expert Level (Maryland Location)","job_apply_link":"https://www.linkedin.com/jobs/view/data-scientist-entry-to-expert-level-maryland-location-at-national-security-agency-3416708943","job_description":"Responsibilities\n\nData science at the National Security Agency (NSA) is a multi-disciplinary field that uses elements of mathematics, statistics, computer science, and application-specific knowledge to gather, make, and communicate principled conclusions from data. Data science is present in every aspect of the mission. NSA Data Scientists tackle challenging real-world problems leveraging big data, high-performance computing, machine learning, and a breadth of other methodologies. We are looking for critical thinkers, problem solvers, and motivated individuals who are enthusiastic about data and believe that answers to hard questions lie in the yet-to-be-told story of diverse, complicated data sets. You will employ your mathematical science, computer science, and quantitative analysis skills to develop solutions to complex data problems and take full advantage of NSA's capabilities to tackle the highest priority foreign intelligence and cybersecurity challenges. As a Data Scientist, your responsibilities may include: - Exploratory data analysis and exploratory model-fitting to reveal data features of interest - Machine-learned predictive modeling - Construct usable data sets from multiple sources to meet customer needs - Identifying and analyzing anomalous data (including metadata) - Developing conceptual design and models to address mission requirements - Developing qualitative and quantitative methods for characterizing datasets in various states. - Performing analytic modeling, scripting, and/or programming - Working collaboratively and iteratively throughout the data-science lifecycle - Designing and developing analytics and techniques for analysis - Analyzing data using mathematical and statistical methods - Evaluating, documenting, and communicating research processes, analyses, and results to customers, peers, and leadership - Creating interpretable visualizations.\n\nJob Summary\n\nData scientists are hired into positions either directly supporting a technical mission office or into the Data Science Development Program (DSDP). For the former, you will have the opportunity to collaborate with NSA's experts in the field of data science and other computational disciplines while tackling NSA's highest priority mission challenges. You will have opportunities to attend technical conferences with experts internally and from industry and academia as well as discuss and share NSA's challenges and successes at technical roundtables. The Data Science Development Program (DSDP) is a three-year opportunity to develop and enhance your data science skills. Participants experience the breadth of data science at NSA through six- to nine-month assignments in a variety of diverse organizations, and collaborate with NSA's experts in the field of data science. You will have opportunities to attend technical conferences with experts from industry and academia, and you will routinely discuss and share NSA's challenges and successes at weekly technical roundtables. You will study data science and related subjects taught by NSA experts. We foster an environment where you will develop your data science skills, while quickly contributing to NSA's highest priority mission challenges. Graduates of the DSDP may choose their first permanent assignments from any of the NSA Directorates.\n\nQualifications\n\nThe qualifications listed are the minimum acceptable to be considered for the position. Applicants who meet minimum qualifications may be asked to complete the Data Science Examination (DSE) evaluating their knowledge of statistics, mathematics, and computer science topics that pertain to data science work. Passing this examination is a requirement in order to be considered for selection into a data scientist position. Degree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science. A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g. physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, library, and life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics, linear algebra, and calculus based statistics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence). College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count. Relevant experience must be in one or more of the following: designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, computational science, software engineering, or data engineering. Note: Degrees in related fields will be considered if accompanied by a Certificate in Data Science from an accredited college/university. ENTRY/DEVELOPMENTAL Entry is with a Bachelor's degree and no experience. An Associate's degree plus 2 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. FULL PERFORMANCE Entry is with a Bachelor's degree plus 3 years of relevant experience or a Master's degree plus 1 year of relevant experience or a Doctoral degree and no experience. An Associate's degree plus 5 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. SENIOR Entry is with a Bachelor's degree plus 6 years of relevant experience or a Master's degree plus 4 years of relevant experience or a Doctoral degree plus 2 years of relevant experience. An Associate's degree plus 8 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. EXPERT Entry is with a Bachelor's degree plus 9 years of relevant experience or a Master's degree plus 7 years of relevant experience or a Doctoral degree plus 5 years of relevant experience. An Associate's degree plus 11 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position.\n\nPay, Benefits, & Work Schedule\n\nSalary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position. This is a full-time position. This position is hiring for the Maryland location. Salary ranges vary by work level. Salary range: $74,682 - $176,300 (Entry/Full Performance/Senior/Expert) On the job training, internal NSA courses, and external training will be made available based on the need and experience of the selectee. Monday - Friday, with basic 8 hr/day requirements between 0600 to 1800 (flexible).\n\nHow To Apply - External\n\nU.S. Citizenship is required for all applicants. NSA is an equal opportunity employer and abides by applicable employment laws and regulations. All applicants and employees are subject to random drug testing in accordance with Executive Order 12564. Employment is contingent upon successful completion of a security background investigation and polygraph. Due to time sensitive communications regarding your application, please ensure your spam filters are configured to accept email from noreply@intelligencecareers.gov. Please review the job posting thoroughly to ensure you meet the described qualifications and are aware of all associated requirements. To apply for this position, please click the 'Apply' button located at the top right of this posting. After completing the application for the first time, or reviewing previously entered information, and clicking the 'Submit' button, you will receive a confirmation email. We encourage you to apply as soon as possible, as job postings could close earlier than the closing date due to sufficient number of applicants, or the position is no longer available. You may be asked a series of questions depending on the position you apply for. Your responses will be used as part of the application screening process and will assist in determining your eligibility for the position. Be sure to showcase within your resume those experiences relevant to this position. Failure to provide the required information or providing inaccurate information will result in your application not being considered for this position. Only those applicants who meet all position qualifications, may be contacted to begin employment processing. Please remain diligent in monitoring email and your SPAM folder. Reasonable accommodations may be provided to applicants with disabilities during the application and hiring process where appropriate. Please visit our Diversity link for more information. This position is a Defense Civilian Intelligence Personnel System (DCIPS) position in the Excepted Service under 10 U.S.C. 1601. DoD Components with DCIPS positions apply Veterans' Preference to eligible candidates as defined by Section 2108 of Title 5 USC, in accordance with the procedures provided in DoD Instruction 1400.25, Volume 2005, DCIPS Employment and Placement. If you are a veteran claiming veterans' preference, as defined by Section 2108 of Title 5 U.S.C., you may be asked to submit documents verifying your eligibility.\n\nDCIPS Disclaimer\n\nThe National Security Agency (NSA) is part of the DoD Intelligence Community Defense Civilian Intelligence Personnel System (DCIPS). All positions in the NSA are in the Excepted Services under 10 United States Codes (USC) 1601 appointment authority.\n\nSkills\n\nThe ideal candidate is someone with a desire for continual learning and strong problem-solving, analytical, and interpersonal skills. You might be a great fit for our team if the following describes you: - Completed a degree program in the fields of mathematics, statistics, computer science, computational sciences, or a passion for rigorous analysis of data - Tenacity, integrity, persistence, and willingness to learn - Ability to solve complex problems - Use critical thinking and reasoning to make analytic determinations - Works effectively in a collaborative environment - Strong communications skills to both technical and non-technical audiences","job_is_remote":false,"job_posted_at_timestamp":1674301046,"job_posted_at_datetime_utc":"2023-01-21T11:37:26.000Z","job_city":"Fort Meade","job_state":"MD","job_country":"US","job_latitude":39.104263,"job_longitude":-76.73424,"job_benefits":null,"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+scientist+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+scientist+in+usa&htidocid=LqfiD7It-VoAAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-04-10T00:00:00.000Z","job_offer_expiration_timestamp":1681084800,"job_required_experience":{"no_experience_required":true,"required_experience_in_months":24,"experience_mentioned":true,"experience_preferred":true},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":true,"degree_mentioned":true,"degree_preferred":true,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Qualifications":["Applicants who meet minimum qualifications may be asked to complete the Data Science Examination (DSE) evaluating their knowledge of statistics, mathematics, and computer science topics that pertain to data science work","Degree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science","A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g. physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, library, and life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics, linear algebra, and calculus based statistics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence)","College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count","Relevant experience must be in one or more of the following: designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, computational science, software engineering, or data engineering","Note: Degrees in related fields will be considered if accompanied by a Certificate in Data Science from an accredited college/university","ENTRY/DEVELOPMENTAL Entry is with a Bachelor's degree and no experience","An Associate's degree plus 2 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position","FULL PERFORMANCE Entry is with a Bachelor's degree plus 3 years of relevant experience or a Master's degree plus 1 year of relevant experience or a Doctoral degree and no experience","SENIOR Entry is with a Bachelor's degree plus 6 years of relevant experience or a Master's degree plus 4 years of relevant experience or a Doctoral degree plus 2 years of relevant experience","Monday - Friday, with basic 8 hr/day requirements between 0600 to 1800 (flexible)","U.S. Citizenship is required for all applicants","The ideal candidate is someone with a desire for continual learning and strong problem-solving, analytical, and interpersonal skills","You might be a great fit for our team if the following describes you: - Completed a degree program in the fields of mathematics, statistics, computer science, computational sciences, or a passion for rigorous analysis of data - Tenacity, integrity, persistence, and willingness to learn - Ability to solve complex problems - Use critical thinking and reasoning to make analytic determinations - Works effectively in a collaborative environment - Strong communications skills to both technical and non-technical audiences"],"Responsibilities":["As a Data Scientist, your responsibilities may include: - Exploratory data analysis and exploratory model-fitting to reveal data features of interest - Machine-learned predictive modeling - Construct usable data sets from multiple sources to meet customer needs - Identifying and analyzing anomalous data (including metadata) - Developing conceptual design and models to address mission requirements - Developing qualitative and quantitative methods for characterizing datasets in various states","Performing analytic modeling, scripting, and/or programming - Working collaboratively and iteratively throughout the data-science lifecycle - Designing and developing analytics and techniques for analysis - Analyzing data using mathematical and statistical methods - Evaluating, documenting, and communicating research processes, analyses, and results to customers, peers, and leadership - Creating interpretable visualizations","For the former, you will have the opportunity to collaborate with NSA's experts in the field of data science and other computational disciplines while tackling NSA's highest priority mission challenges","You will have opportunities to attend technical conferences with experts from industry and academia, and you will routinely discuss and share NSA's challenges and successes at weekly technical roundtables","You will study data science and related subjects taught by NSA experts"],"Benefits":["Pay, Benefits, & Work Schedule","Salary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position","Salary ranges vary by work level","Salary range: $74,682 - $176,300 (Entry/Full Performance/Senior/Expert) On the job training, internal NSA courses, and external training will be made available based on the need and experience of the selectee"]}},{"employer_name":"Eurofins USA BioPharma Services","employer_logo":null,"employer_website":null,"job_publisher":"Adzuna","job_id":"TIZd1xbrDC0AAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Entry Level Data Scientist","job_apply_link":"https://www.adzuna.com/details/3862859345","job_description":"Job Description\n\nNOT A CODING OR DATA SCIENCE RELATED POSITION\n\nDetermine if data is compliant and defendable based on industry regulations and methodology\n\nVerify scientific data is of sound quality following all method, industry, and client requirements where applicable\n\nEnsure that the client receives quality data by reviewing laboratory data for accuracy, clarity, and adherence to GMP and/or GLP regulations\n\nReview simple and complex routine and non-routine data (for three or more areas) according to departmental, corporate, and client SOPs; read and understand analytical procedures; ensure all work is performed according to GLP/GMP requirements and apply GLP/GMP in all areas of responsibility as appropriate\n\nDiagnose problems, solve simple problems, and suggest solutions to complex problems in professional area\n\nReview methods to ensure procedures are followed\n\nAuthorize written reports (e.g., SOP, OMC, client reports)","job_is_remote":false,"job_posted_at_timestamp":1674171570,"job_posted_at_datetime_utc":"2023-01-19T23:39:30.000Z","job_city":null,"job_state":"PA","job_country":"US","job_latitude":41.203323,"job_longitude":-77.19453,"job_benefits":null,"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+scientist+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+scientist+in+usa&htidocid=TIZd1xbrDC0AAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-02-03T21:49:47.000Z","job_offer_expiration_timestamp":1675460987,"job_required_experience":{"no_experience_required":false,"required_experience_in_months":null,"experience_mentioned":false,"experience_preferred":false},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":false,"degree_mentioned":false,"degree_preferred":false,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Responsibilities":["Determine if data is compliant and defendable based on industry regulations and methodology","Verify scientific data is of sound quality following all method, industry, and client requirements where applicable","Ensure that the client r

In [47]:
import requests

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Entry Level Data Analyst in USA","num_pages":"20"}

headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_analyst = response.json()

# Write the data to a json file
with open('entry_level_data_analyst.json', 'w') as outfile:
    json.dump(entry_level_data_analyst, outfile, indent=4)



print(response.text)

{"status":"OK","request_id":"2c8f41cb-c5b5-4007-94af-a19a8844520e","data":[{"employer_name":"SynergisticIT","employer_logo":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-UrAK1LCetSvno8PT3nMB4vJV4VdEEPN7PrgC&s=0","employer_website":null,"job_publisher":"LinkedIn","job_id":"yhoOS-HZt2kAAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Entry Level Data Analyst","job_apply_link":"https://www.linkedin.com/jobs/view/entry-level-data-analyst-at-synergisticit-3415228708","job_description":"About Us\n\nSynergistic IT is a full-service staffing and placement firm servicing client in America for the past 12+ years. We are dedicated towards fulfilling the IT needs of our clients. From staffing to full implementation of projects we provide the highest quality IT Services. We Intend to deliver exceptional student outcome. We don't just help you secure a tech job but build a solid career in technology.\n\nJob Description\n\nRoles and Responsibilities\n Managing master data, including creation, updates, and deletion.\n Helping develop reports and analysis.\n Supporting initiatives for data integrity and normalisation.\n Providing technical expertise in data storage structures, data mining, and data cleansing.\n Supporting the data warehouse in identifying and revising reporting requirements.\n\nDesired Candidate Profile\n Degree in Business, Finance, Economics, Computer Science, IT or any equivalent degree.\n Basic knowledge of MySQL & Python\n Should be able to do data visualisation using Tableau or Excel.\n Excellent English communication (both oral and written) and reading comprehension skills.\n Strong analytical and problem-solving skills, with clear attention to detail.\n Ability to prioritise and work under tight deadlines.\n Fast learner, able to master new concepts, theories, ideas, and processes with ease.\n Willingness to work beyond traditional working hours/days as required by the business.\n The person should be open to learning and take new responsibilities.\n\nEducation Requirement: -\n\nBachelors, Masters in Computer Science/ Computer Engineering/ Information Systems/Information Technology/ Electrical Engineering/ Mechanical Engineering.\n\nBenefits\n On Job Technical support\n E- verified\n Filing of H1b and Green card\n Full time position\nCandidate who are missing the required skills, might be provided an option to enhance their skills, so that they can also apply for the role and can make a career in IT industry.\n\nIf you do respond via e-mail, please include a daytime phone number so that we can reach you. In considering candidates, time is of the essence, so please respond ASAP.\n\nThank you","job_is_remote":false,"job_posted_at_timestamp":1672614440,"job_posted_at_datetime_utc":"2023-01-01T23:07:20.000Z","job_city":"Normal","job_state":"IL","job_country":"US","job_latitude":40.514202,"job_longitude":-88.99063,"job_benefits":null,"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+analyst+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+analyst+in+usa&htidocid=yhoOS-HZt2kAAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-01-31T23:07:30.000Z","job_offer_expiration_timestamp":1675206450,"job_required_experience":{"no_experience_required":false,"required_experience_in_months":null,"experience_mentioned":false,"experience_preferred":false},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":true,"degree_mentioned":true,"degree_preferred":true,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Qualifications":["Bachelors, Masters in Computer Science/ Computer Engineering/ Information Systems/Information Technology/ Electrical Engineering/ Mechanical Engineering","Filing of H1b and Green card"],"Responsibilities":["Managing master data, including creation, updates, and deletion","Helping develop reports and analysis","Supporting initiatives for data integrity and normalisation","Providing technical expertise in data storage structures, data mining, and data cleansing","Supporting the data warehouse in identifying and revising reporting requirements"],"Benefits":["On Job Technical support","Full time position"]}},{"employer_name":"Staffigo Technical Services, LLC","employer_logo":null,"employer_website":null,"job_publisher":"ZipRecruiter","job_id":"WoR9Wg400KwAAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Entry Level Data Analyst","job_apply_link":"https://www.ziprecruiter.com/c/Staffigo-Technical-Services,-LLC/Job/Entry-Level-Data-Analyst/-in-Roswell,GA?jid=d0d20c773081e79e","job_description":"About us\n\nStaffigo is in the business of providing IT Consulting Services to clients in various industries in the United States - Healthcare (Payer, Providers & Clearinghouses), Finance & Banking, Retail & e-commerce. We are currently seeking exceptional entry-level talent for the below role.\n\nJob Description\n Help to prepare good quality data.\n Respond to guideline ambiguities/changes/updates from PMs.\n Apply those changes while moving between different assignments daily.\n Aim to reduce ambiguity, errors, problems while responding to Engineers.\n Authoring knowledge like table names, attribute names and aliases.\n Create sample data and records\n Evaluate quality of mined data like synonyms or city names or company names, abbreviations, etc.\n Prepare training data for machine learning model\n Write and improve project guidelines.\n\nRequirements\n Masters degree in Computer Science, Computer Engineering, or any\n related field of study.\n No travel; no telecommuting. Job duties are project-based and performed on long-term assignments at\n various unanticipated sites within the U.S. which may require relocation at the end of each project.\n Advanced Excel skills (pivot tables, v-lookups, charts)\n Experience using the relational database system, Oracle preferred\n Excellent oral and written communication skills.\n Understanding of software development life cycle.\n Must know how to use Power BI or Tableau.\n\nWe do not discriminate based on race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, genetic information, gender, sexual orientation, gender identity or expression, veteran status, or any other status protected under federal, state, or local law.\n\nPowered by JazzHR\n\nTyjdJmNljv","job_is_remote":false,"job_posted_at_timestamp":1649817968,"job_posted_at_datetime_utc":"2022-04-13T02:46:08.000Z","job_city":"Roswell","job_state":"GA","job_country":"US","job_latitude":34.023243,"job_longitude":-84.36156,"job_benefits":null,"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+analyst+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+analyst+in+usa&htidocid=WoR9Wg400KwAAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-02-21T00:00:00.000Z","job_offer_expiration_timestamp":1676937600,"job_required_experience":{"no_experience_required":false,"required_experience_in_months":null,"experience_mentioned":true,"experience_preferred":true},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":false,"degree_mentioned":true,"degree_preferred":true,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Qualifications":["Masters degree in Computer Science, Computer Engineering, or any","related field of study","No travel; no telecommuting","Advanced Excel skills (pivot tables, v-lookups, charts)","Excellent oral and written communication skills","Understanding of software development life cycle","Must know how to use Power BI or Tableau","We do not discriminate based on race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, genetic information, gender, sexual orientation, gender identity or expression, veteran status, or any other status protected under federal, state, or local law"],"Responsibilities":["Help to prepare good quality data","Respond to guideline ambiguities/changes/updates from PMs","Apply those changes while moving between different assignments daily","Aim to reduce ambiguity, errors, problems while responding to Engineers","Authoring knowledge like table names, attribute names and aliases","Create sample data and records","Evaluate quality of mined data like synonyms or city names or company names, abbreviations, etc","Prepare training data for machine learning model","Write and improve project guidelines","various unanticipated sites within the U.S. which may require relocation at the end of each project"]}},{"employer_name":"Staffingly","employer_logo":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuhzIHXgXYvUFZ-nSf4Gvb78Xz51cCSwsAq55M&s=0","employer_website":null,"job_publisher":"LinkedIn","job_id":"pu4ks3ytBz0AAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Full time - Entry level Data Analyst (Remote)","job_apply_link":"https://www.linkedin.com/jobs/view/full-time-entry-level-data-analyst-remote-at-staffingly-3442788645","job_description":"Taking care of people is at the heart of everything we do, and we start by taking care of you, our valued colleague. A career at Sedgwick means experiencing our culture of caring. It means having flexibility and time for all the things that are important to you. Its an opportunity to do something meaningful, each and every day. Its having support for your mental, physical, financial and professional needs. It means sharpening your skills and growing your career. And it means working in an environment that celebrates diversity and is fair and inclusive.\n\nA career at Sedgwick is where passion meets purpose to make a positive impact on the world through the people and organizations we serve. If you are someone who is driven to make a difference, who enjoys a challenge and above all, if youre someone who cares, theres a place for you here. Join us and contribute to Sedgwick being a great place to work.\n\nGreat Place to Work\n\nMost Loved Workplace\n\nForbes Best-in-State Employer\n\nData Analyst\n\nEssential Responsiblities May Include\n Compiles data; prepares and distributes reports; and analyzes results.\n Ensures data integrity; develops and produces reports utilized in measuring data accuracy.\n May assist in the completion of appropriate client set-up and maintenance (parameter) forms.\n Supports internal and external users including reports, installation, screen, etc.\n Creates exception reports to identify fields of incorrect data.\n Generates custom reports for internal and external client.\n\nQualifications\n Experience with query and report writing strongly preferred.\n\nTAKING CARE OF YOU\n Career development and promotional growth opportunities\n A diverse and comprehensive benefits offering including medical, dental vision, 401K, PTO and more\n\nWork environment requirements for entry-level opportunities include \n\nPhysical: Computer keyboarding\n\nAuditory/visual: Hearing, vision and talking\n\nMental: Clear and conceptual thinking ability; excellent judgement and discretion; ability to meet deadlines","job_is_remote":true,"job_posted_at_timestamp":1674013848,"job_posted_at_datetime_utc":"2023-01-18T03:50:48.000Z","job_city":"Denver","job_state":"CO","job_country":"US","job_latitude":39.739235,"job_longitude":-104.99025,"job_benefits":["dental_coverage","health_insurance","retirement_savings","paid_time_off"],"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+analyst+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+analyst+in+usa&htidocid=pu4ks3ytBz0AAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-02-17T03:50:48.000Z","job_offer_expiration_timestamp":1676605848,"job_required_experience":{"no_experience_required":false,"required_experience_in_months":null,"experience_mentioned":true,"experience_preferred":true},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":true,"degree_mentioned":true,"degree_preferred":false,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Qualifications":["Physical: Computer keyboarding","Auditory/visual: Hearing, vision and talking","Mental: Clear and conceptual thinking ability; excellent judgement and discretion; ability to meet deadlines"],"Responsibilities":["Compiles data; prepares and distributes reports; and analyzes results","Ensures data integrity; develops and produces reports utilized in measuring data accuracy","May assist in the completion of appropriate client set-up and maintenance (parameter) forms","Supports internal and external users including reports, installation, screen, etc","Creates exception reports to identify fields of incorrect data","Generates custom reports for internal and external client"],"Benefits":["Career development and promotional growth opportunities","A diverse and comprehensive benefits offering including medical, dental vision, 401K, PTO and more"]}},{"employer_name":"TRESUME","employer_logo":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPSu50TjYIyS4EMqcnc1jx4UpS_VkLueH1DHn_&s=0","employer_website":null,"job_publisher":"Glassdoor","job_id":"XQDqtWFNlzsAAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Entry Level Data Analyst","job_apply_link":"https://www.glassdoor.com/job-listing/entry-level-data-analyst-tresume-JV_IC1130404_KO0,24_KE25,32.htm?jl=1008249760667","job_description":"We are seeking an Entry level Data Analyst to become an integral part of our Team. You will analyze data to understand business and Market Trends in order to increase company revenue and efficiency.\n\nMust be willing to relocate.\n\nResponsibilities:\n Use data to understand Business patterns and trends.\n Analyze internal and external data through quantitative research\n Perform data cleanups and document processes\n Investigate and resolve any data discrepancies in a timely manner and present findings to management\n Review and update reconciliation reports\n Manage and update customer information using the CRM system\n Assist with internal technical support and special projects as needed\n\nQualifications & Skills:\n Bachelor's degree or relevant.\n 0-2 years of experience in a data support role\n Strong attention to detail and organizational skills\n Experience with advanced Microsoft Excel and Salesforce software preferred\n Ability to work independently, under supervision, and in a creative environment\n Excellent interpersonal & Communication skills\n\nJob Type: Full-time\n\nPay: $27.00 - $30.00 per hour\n\nSchedule:\n 8 hour shift\n Monday to Friday\n\nAbility to commute/relocate:\n Leesburg, VA 20175: Reliably commute or planning to relocate before starting work (Required)\n\nWork Location: One location","job_is_remote":false,"job_posted_at_timestamp":1672531200,"job_posted_at_datetime_utc":"2023-01-01T00:00:00.000Z","job_city":"Reston","job_state":"VA","job_country":"US","job_latitude":38.95863,"job_longitude":-77.357,"job_benefits":null,"job_google_link":"https://www.google.com/search?gl=us&hl=en&rciv=jb&q=entry+level+data+analyst+in+usa&start=0&ibp=htl;jobs#fpstate=tldetail&htivrt=jobs&htiq=entry+level+data+analyst+in+usa&htidocid=XQDqtWFNlzsAAAAAAAAAAA%3D%3D","job_offer_expiration_datetime_utc":"2023-02-22T00:00:00.000Z","job_offer_expiration_timestamp":1677024000,"job_required_experience":{"no_experience_required":false,"required_experience_in_months":null,"experience_mentioned":true,"experience_preferred":true},"job_required_skills":null,"job_required_education":{"postgraduate_degree":false,"professional_certification":false,"high_school":false,"associates_degree":false,"bachelors_degree":false,"degree_mentioned":true,"degree_preferred":false,"professional_certification_mentioned":false},"job_experience_in_place_of_education":false,"job_min_salary":null,"job_max_salary":null,"job_salary_currency":null,"job_salary_period":null,"job_highlights":{"Qualifications":["Bachelor's degree or relevant","0-2 years of experience in a data support role","Strong attention to detail and organizational skills","Ability to work independently, under supervision, and in a creative environment","Excellent interpersonal & Communication skills","Leesburg, VA 20175: Reliably commute or planning to relocate before starting work (Required)"],"Responsibilities":["You will analyze data to understand business and Market Trends in order to increase company revenue and efficiency","Use data to understand Business patterns and trends","Analyze internal and external data through quantitative research","Perform data cleanups and document processes","Investigate and resolve any data discrepancies in a timely manner and present findings to management","Review and update reconciliation reports","Manage and update customer information using the CRM system","Assist with internal technical support and special projects as needed"],"Benefits":["Pay: $27.00 - $30.00 per hour","8 hour shift"]}},{"employer_name":"Staffigo Technical Services, LLC","employer_logo":null,"employer_website":null,"job_publisher":"ZipRecruiter","job_id":"1xKRzZwkq_EAAAAAAAAAAA==","job_employment_type":"FULLTIME","job_title":"Entry Level Data Analyst","job_apply_link":"https://www.ziprecruiter.com/c/Staffigo-Technical-Services,-LLC/Job/Entry-Level-Data-Analyst/-in-Weehawken,NJ?jid=c252185109849c65","job_description":"About us\n\nStaffigo is in the business of providing IT Consulting Services to clients in various industries in the United States - Healthcare (Payer, Providers & Clearinghouses), Finance & Banking, Retail & e-commerce. We are currently seeking exceptional entry-level talent for the below role.\n\nJob Description\n Create, validate and send daily weekly, and monthly management reports to clients.\n Assistance with requests for non-standard reports and analysis for clients.\n Support management reporting by maintaining hierarchy information.\n Research and answer client's questions.\n Perform business-to-system analysis and troubleshooting analysis of complex management reports and business problems with guidance.\n In the report, development lifecycle support impacts analysis and project requirements definition.\n Transform client needs into functional requirements. With guidance, collect, analyze and document business requirements for project proposals including but not limited to process and data flow, user interface, security, and reporting requirements.\n Together with managers and/or senior analysts, participate in cross-functional meetings where customers are interviewed to understand customer needs and identify problems and solutions. appropriate solutions, develop specifications, analyze and document business processes, validate testing processes, and train the user community.\n Support teamwork and get internal and external client feedback on processes, procedures, and technology.\n\nRequirements\n Masters degree in Computer Science, Computer Engineering, or any\n related field of study.\n No travel; no telecommuting. Job duties are project-based and performed on long-term assignments at\n various unanticipated sites within the U.S. which may require relocat

In [57]:
analyst_df = pd.json_normalize(entry_level_data_analyst, 'data',)
analyst_df

,employer_name,employer_logo,employer_website,job_publisher,job_id,job_employment_type,job_title,job_apply_link,job_description,job_is_remote,job_posted_at_timestamp,job_posted_at_datetime_utc,job_city,job_state,job_country,job_latitude,job_longitude,job_benefits,job_google_link,job_offer_expiration_datetime_utc,job_offer_expiration_timestamp,job_required_skills,job_experience_in_place_of_education,job_min_salary,job_max_salary,job_salary_currency,job_salary_period,job_required_experience.no_experience_required,job_required_experience.required_experience_in_months,job_required_experience.experience_mentioned,job_required_experience.experience_preferred,job_required_education.postgraduate_degree,job_required_education.professional_certification,job_required_education.high_school,job_required_education.associates_degree,job_required_education.bachelors_degree,job_required_education.degree_mentioned,job_required_education.degree_preferred,job_required_education.professional_certification_mentioned,job_highlights.Qualifications,job_highlights.Responsibilities,job_highlights.Benefits
0,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,yhoOS-HZt2kAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,1672614440,2023-01-01T23:07:20.000Z,Normal,IL,US,40.514202,-88.990630,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T23:07:30.000Z,1.675206e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,True,True,True,False,"[Bachelors, Masters in Computer Science/ Compu...","[Managing master data, including creation, upd...","[On Job Technical support, Full time position]"
1,"Staffigo Technical Services, LLC",None,None,ZipRecruiter,WoR9Wg400KwAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,1649817968,2022-04-13T02:46:08.000Z,Roswell,GA,US,34.023243,-84.361560,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-21T00:00:00.000Z,1.676938e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,True,False,"[Masters degree in Computer Science, Computer ...","[Help to prepare good quality data, Respond to...",NaN
2,Staffingly,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,pu4ks3ytBz0AAAAAAAAAAA==,FULLTIME,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,1674013848,2023-01-18T03:50:48.000Z,Denver,CO,US,39.739235,-104.990250,"[dental_coverage, health_insurance, retirement...",https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-17T03:50:48.000Z,1.676606e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,False,False,"[Physical: Computer keyboarding, Auditory/visu...",[Compiles data; prepares and distributes repor...,[Career development and promotional growth opp...
3,TRESUME,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Glassdoor,XQDqtWFNlzsAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.glassdoor.com/job-listing/entry-le...,We are seeking an Entry level Data Analyst to ...,False,1672531200,2023-01-01T00:00:00.000Z,Reston,VA,US,38.958630,-77.357000,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-22T00:00:00.000Z,1.677024e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,False,False,"[Bachelor's degree or relevant, 0-2 years of e...",[You will analyze data to understand business ...,"[Pay: $27.00 - $30.00 per hour, 8 hour shift]"
4,"Staffigo Technical Services, LLC",None,None,ZipRecruiter,1xKRzZwkq_EAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,1649817938,2022-04-13T02:45:38.000Z,Weehawken,NJ,US,40.766373,-74.025370,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-22T00:00:00.000Z,1.677024e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,True,False,"[Masters degree in Computer Science, Computer ...","[Create, validate and send daily weekly, and m...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,"Staffigo Technical Services, LLC",https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Trabajo.org,b473fpDwXWEAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://us.trabajo.org/job-1275-20230120-45fd0...,About us\n\nStaffigo is in the business of pro...,False,1674250463,2023-01-20T21:34:23.000Z,Fort Wayne,IN,US,41.079273,-85.139350,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-27T00:00:00.000Z,1.674778e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,True,False,"[Masters degree in Computer Science, Computer ...","[Create, validate and send daily weekly, and m...",NaN
68,Staffigo Technical Services LLC,None,None,Jobilize,x-mVNO_kUOYAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.jobilize.com/job/us-ga-atlanta-ent...,About us\n\nStaffigo is in the business of pro...,False,1673913600,2023-01-17T00:00:00.000Z,Atlanta,GA,US,33.748753,-84.387690,None,https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,True,True,"[Masters degree in Computer Science, Computer ...","[Create, validate and send daily weekly, and m...",NaN
69,"Staffigo Technical Services, LLC",None,None,Maryland Jobs - Tarta.ai,QSU4iS3GJncAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://maryland.tarta.ai/j/PNU2LoABCr2uuunQDN...,About Us\n\nStaffigo is in the business of pro...,False,1674345600,2023-01-22T00:00:00.000Z,Annapolis,MD,US,38.978447,-76.492180,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-03-23T00:00:00.000Z,1.679530e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,False,True,True,False,"[Masters degree in Computer Science, Computer ...",[Define business and technical requirements ba...,NaN
70,"Staffigo Technical Services, LLC",https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Trabajo.org,9Wp-_yNYZHIAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://us.trabajo.org/job-640-20230118-aee169...,About us\n\nStaffigo is in the business of pro...,False,1674013871,2023-01-18T03:51:11.000Z,Broomfield,CO,US,39.920540,-105.086650,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-25T00:00:00.000Z,1.674605e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,False,True,True,False,"[Masters degree in Computer Science, Computer ...","[Create, validate and send daily weekly, and m...",NaN
71,TRESUME -,None,None,"Columbus, OH - Geebo",5WKhaNaASnQAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://columbus-oh.geebo.com/jobs-online/view...,Quick Apply Full-time Contract 44 minutes ago ...,False,1674432000,2023-01-23T00:00:00.000Z,Columbus,OH,US,39.961174,-82.998795,[health_insurance],https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-30T00:00:00.000Z,1.675037e+09,None,False,20.0,28.0,USD,HOUR,False,NaN,True,True,False,False,False,False,False,False,False,False,[Demonstrated ability to move data between pro...,"[Responsible for the design, development and a...","[$26, 00 - $30, 00 per hour, Health insurance ..."

In [62]:
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df = pd.json_normalize(entry_level_data_analyst, 'data')
new_df = df.loc[:, columns]
new_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
1,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Roswell,GA,US,34.023243,-84.361560
2,Staffingly,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,Denver,CO,US,39.739235,-104.990250
3,TRESUME,Entry Level Data Analyst,https://www.glassdoor.com/job-listing/entry-le...,We are seeking an Entry level Data Analyst to ...,False,Reston,VA,US,38.958630,-77.357000
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Weehawken,NJ,US,40.766373,-74.025370
...,...,...,...,...,...,...,...,...,...,...
67,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://us.trabajo.org/job-1275-20230120-45fd0...,About us\n\nStaffigo is in the business of pro...,False,Fort Wayne,IN,US,41.079273,-85.139350
68,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-ga-atlanta-ent...,About us\n\nStaffigo is in the business of pro...,False,Atlanta,GA,US,33.748753,-84.387690
69,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://maryland.tarta.ai/j/PNU2LoABCr2uuunQDN...,About Us\n\nStaffigo is in the business of pro...,False,Annapolis,MD,US,38.978447,-76.492180
70,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://us.trabajo.org/job-640-20230118-aee169...,About us\n\nStaffigo is in the business of pro...,False,Broomfield,CO,US,39.920540,-105.086650
71,TRESUME -,Entry Level Data Analyst,https://columbus-oh.geebo.com/jobs-online/view...,Quick Apply Full-time Contract 44 minutes ago ...,False,Columbus,OH,US,39.961174,-82.998795

In [63]:
data_scientist_df = pd.json_normalize(entry_level_data_scientists, 'data',)
data_scientist_df

,employer_name,employer_logo,employer_website,job_publisher,job_id,job_employment_type,job_title,job_apply_link,job_description,job_is_remote,job_posted_at_timestamp,job_posted_at_datetime_utc,job_city,job_state,job_country,job_latitude,job_longitude,job_benefits,job_google_link,job_offer_expiration_datetime_utc,job_offer_expiration_timestamp,job_required_skills,job_experience_in_place_of_education,job_min_salary,job_max_salary,job_salary_currency,job_salary_period,job_required_experience.no_experience_required,job_required_experience.required_experience_in_months,job_required_experience.experience_mentioned,job_required_experience.experience_preferred,job_required_education.postgraduate_degree,job_required_education.professional_certification,job_required_education.high_school,job_required_education.associates_degree,job_required_education.bachelors_degree,job_required_education.degree_mentioned,job_required_education.degree_preferred,job_required_education.professional_certification_mentioned,job_highlights.Qualifications,job_highlights.Responsibilities,job_highlights.Benefits
0,National Security Agency,https://upload.wikimedia.org/wikipedia/commons...,http://www.nsa.gov,LinkedIn,LqfiD7It-VoAAAAAAAAAAA==,FULLTIME,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,1674301046,2023-01-21T11:37:26.000Z,Fort Meade,MD,US,39.104263,-76.734240,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-04-10T00:00:00.000Z,1.681085e+09,None,False,NaN,NaN,None,None,True,24.0,True,True,False,False,False,False,True,True,True,False,[Applicants who meet minimum qualifications ma...,"[As a Data Scientist, your responsibilities ma...","[Pay, Benefits, & Work Schedule, Salary offers..."
1,Eurofins USA BioPharma Services,None,None,Adzuna,TIZd1xbrDC0AAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.adzuna.com/details/3862859345,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,1674171570,2023-01-19T23:39:30.000Z,None,PA,US,41.203323,-77.194530,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-03T21:49:47.000Z,1.675461e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,False,False,False,False,NaN,[Determine if data is compliant and defendable...,NaN
2,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,BeBee,vgdO2MFDMv4AAAAAAAAAAA==,FULLTIME,Entry level data scientist,https://us.bebee.com/job/20230123-c82ed72184ca...,SYNERGISTICIT wants every candidate to know we...,False,1674496485,2023-01-23T17:54:45.000Z,None,None,US,37.090240,-95.712890,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T00:00:00.000Z,1.675123e+09,None,False,NaN,NaN,None,None,False,12.0,True,False,False,False,False,False,False,True,True,False,[Who Should Apply Recent IT Graduates looking ...,NaN,NaN
3,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,p_C7keyJwVMAAAAAAAAAAA==,CONTRACTOR,ENTRY LEVEL DATA SCIENTIST,https://www.linkedin.com/jobs/view/entry-level...,SYNERGISTICIT wants every candidate to know th...,False,1674277640,2023-01-21T05:07:20.000Z,Oklahoma City,OK,US,35.467560,-97.516426,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-20T05:07:21.000Z,1.676870e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,True,True,True,False,[Get the right opportunity and gain experience...,[Or their resume can be sent out to clients to...,NaN
4,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,Hb-zr__hIa8AAAAAAAAAAA==,PARTTIME,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,"At SynergisticIT, we aim to bring aboard IT pr...",False,1673672858,2023-01-14T05:07:38.000Z,Seattle,WA,US,47.606210,-122.332070,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-13T05:07:38.000Z,1.676265e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,True,True,True,False,[Bachelor's degree or Master's degree in Compu...,"[Collaborate with dynamic teams of engineers, ...","[Competitive salary, Flexible work schedule & ..."
5,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,7cTXtAEfA_AAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,1672614429,2023-01-01T23:07:09.000Z,Lansing,MI,US,42.732536,-84.555534,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T23:07:29.000Z,1.675206e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,True,True,False,False,"[Hands on experience Python scripting, Hands o...",[Identify valuable data sources and automate c...,[On Job Technical support]
6,Eurofins USA BioPharma Services,None,None,Monster,LlSW-MGWutoAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.monster.com/job-openings/entry-lev...,Company Description\n\nNOT A CODING OR DATA SC...,False,1673685854,2023-01-14T08:44:14.000Z,Lancaster,PA,US,40.037876,-76.305510,"[health_insurance, retirement_savings, dental_...",https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,None,False,NaN,NaN,None,None,False,12.0,True,False,False,False,False,False,False,True,True,False,[NOT A CODING OR DATA SCIENCE RELATED POSITION...,[Determine if data is compliant and defendable...,[Excellent full time benefits including compre...
7,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Trabajo.org,zudMRYzUSp4AAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://us.trabajo.org/job-1275-20230124-9c5ff...,SYNERGISTICIT wants every candidate to know th...,False,1674521584,2023-01-24T00:53:04.000Z,Aberdeen,SD,US,45.464700,-98.486480,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T00:00:00.000Z,1.675123e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,True,False,[Get the right opportunity and gain experience...,[Or their resume can be sent out to clients to...,NaN
8,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,DataYoshi,pqva53ILZroAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist (Remote),https://www.datayoshi.com/offer/672278/entry-l...,Synergistic IT is a full-service staffing and ...,False,1672617600,2023-01-02T00:00:00.000Z,College Station,TX,US,30.627977,-96.334404,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-01T00:00:00.000Z,1.675210e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,False,False,"[Hands on experience Python scripting, Hands o...",[Identify valuable data sources and automate c...,"[On Job Technical support, Full time position]"
9,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,dwLbmSh5zGoAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,1672614439,2023-01-01T23:07:19.000Z,Portland,ME,US,43.659100,-70.256820,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T23:07:30.000Z,1.675206e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,True,True,False,False,"[Hands on experience Python scripting, Hands o...",[Identify valuable data sources and automate c...,"[On Job Technical support, Full time position]"
10,ERM,https://upload.wikimedia.org/wikipedia/en/d/de...,http://www.erm.com,LinkedIn,jG0ehwnWegcAAAAAAAAAAA==,FULLTIME,Staff Environmental Data Scientist (Entry Level),https://www.linkedin.com/jobs/view/staff-envir...,ERM is seeking a Staff Environmental Data Scie...,False,1673998930,2023-01-17T23:42:10.000Z,Charlotte,NC,US,35.227085,-80.843124,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-16T23:42:10.000Z,1.676591e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,True,False,"[The ideal candidate will be self-motivated, d...","[Integrate data from laboratory, field, and hi...",NaN
11,I28 Technologies,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Glassdoor,JmdID8AplBUAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist-333325,https://www.glassdoor.com/job-listing/entry-le...,"Analysis tools, defining, and implementing i...",False,1672358400,2022-12-30T00:00:00.000Z,Marysville,MI,US,42.912530,-82.486860,[health_insurance],https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-22T00:00:00.000Z,1.677024e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,False,False,"[Working with large data sets, using tools and...",NaN,"[Salary: $60,000.00 - $65,000.00 per year, Hea..."
12,Eurofins USA BioPharma Services,None,None,Learn4Good,wO2GYj96UOYAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.learn4good.com/jobs/lancaster/penn...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,1674172800,2023-01-20T00:00:00.000Z,Lancaster,PA,US,40.037876,-76.305510,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-16T00:00:00.000Z,1.676506e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,False,False,False,False,NaN,[Determine if data is compliant and defendable...,NaN
13,SynergisticIT,None,None,ZipRecruiter,gJNVyXxi9QQAAAAAAAAAAA==,FULLTIME,Junior Level Data Scientist,https://www.ziprecruiter.com/c/SynergisticIT/J...,"Job Description\n\nGreetings,\nSynergistic IT ...",False,1649808000,2022-04-13T00:00:00.000Z,Fremont,CA,US,37.548540,-121.988590,[health_insurance],https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-22T00:00:00.000Z,1.677024e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,True,True,[Requirements - BS/MS/AS in CS/IT/CE or Mathem...,NaN,"[100% Job guarantee, 1 year after Job Technica..."
14,Staffingly,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,pu4ks3ytBz0AAAAAAAAAAA==,FULLTIME,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,1674013848,2023-01-18T03:50:48.000Z,Denver,CO,US,39.739235,-104.990250,"[paid_time_off, health_insurance, dental_cover...",https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-17T03:50:48.000Z,1.676606e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,False,False,"[Physical: Computer keyboarding, Auditory/visu...",[Compiles data; prepares and distributes repor...,[Career development and promotional growth opp...
15,Careerbuilder-US,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,BeBee,6eFtGDfRpSgAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://us.bebee.com/job/20230117-9ac9bf9ccc4c...,About Us :\nSynergistic IT is a full-service s...,False,1673944529,2023-01-17T08:35:29.000Z,Miami,FL,US,25.761680,-80.191790,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-25T00:00:00.000Z,1.674605e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,False,False,"[Hands on experience Python scripting, Hands o...",[Identify valuable data sources and automate c...,"[On Job Technical support, Full time position]"
16,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,yhoOS-HZt2kAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,1672614440,2023-01-01T23:07:20.000Z,Normal,IL,US,40.514202,-88.990630,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-01-31T23:07:30.000Z,1.675206e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,True,True,True,False,"[Bachelors, Masters in Computer Science/ Compu...","[Managing master data, including creation, upd...","[On Job Technical support, Full time position]"
17,Eurofins USA BioPharma Services,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,WayUp,S_5C05pe-h8AAAAAAAAAAA==,FULLTIME,Cell and Molecular Biology Data Review Scienti...,https://www.wayup.com/i-j-Eurofins-USA-BioPhar...,Job Description\n\nEMPLOYEE RESPONSIBILITIES:\...,False,1672808476,2023-01-04T05:01:16.000Z,Lancaster,PA,US,40.037876,-76.305510,"[dental_coverage, retirement_savings, paid_tim...",https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,False,True,True,False,"[Strong computer, scientific, and organization...",[Ensure that the client receives quality data ...,[Excellent full time benefits including compre...
18,Eurofins USA BioPharma Services,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,Recruit.net,iB77yGh9mCsAAAAAAAAAAA==,FULLTIME,Entry Level Data Scientist,https://www.recruit.net/job/entry-level-jobs/4...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,1674172800,2023-01-20T00:00:00.000Z,None,AZ,US,34.048927,-111.093735,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-19T00:00:00.000Z,1.676765e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,False,False,False,False,NaN,[Determine if data is compliant and defendable...,NaN
19,Staffigo,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,JL2mhPOz5awAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,1669440155,2022-11-26T05:22:35.000Z,Montgomery,AL,US,32.379223,-86.307740,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-19T23:27:54.000Z,1.676849e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,True,False,"[Masters degree in Computer Science, Computer ...","[Create, validate and send daily weekly, and m...",NaN
20,Staffigo,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,B07_X4yuUM4AAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,1669440176,2022-11-26T05:22:56.000Z,Fremont,CA,US,37.548540,-121.988590,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-19T23:28:12.000Z,1.676849e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,True,False,"[Masters degree in Computer Science, Computer ...",[Work closely with IT and Business team to und...,NaN
21,Eurofins USA BioPharma Services,None,None,Talent.com,Va7NJJxj7tgAAAAAAAAAAA==,FULLTIME,Scientist entry level,https://www.talent.com/view?id=63c1c91b03b5,Job Description\n NOT A CODING OR DATA SCIENC...,False,1673481600,2023-01-12T00:00:00.000Z,Portage,MI,US,42.201153,-85.580000,"[health_insurance, paid_time_off, dental_cover...",https://www.google.com/search?gl=us&hl=en&rciv...,2023-04-30T00:00:00.000Z,1.682813e+09,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,True,True,True,False,"[Strong computer, scientific, and organization...",[Ensure that the client receives quality data ...,[Excellent full time benefits including compre...
22,Verizon,https://www.verizon.com/cs/groups/public/docum...,http://www.verizon.com,Verizon,UZ9pN-w_n90AAAAAAAAAAA==,FULLTIME,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,1668038400,2022-11-10T00:00:00.000Z,Boston,MA,US,42.360080,-71.058880,None,https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,False,False,[You must be currently enrolled in a degree pr...,"[In this role, you will have the opportunity t...",NaN
23,Staffigo,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,JrHVfmmxn4sAAAAAAAAAAA==,FULLTIME,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,1669440159,2022-11-26T05:22:39.000Z,Cedar Rapids,IA,US,41.977880,-91.665630,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-19T23:28:00.000Z,1.676849e+09,None,False,NaN,NaN,None,None,False,NaN,False,False,False,False,False,False,True,True,True,False,"[Masters degree in Computer Science, Computer ...",[Transferring data from different files and da...,NaN
24,IBM,https://www.ibm.com/brand/experience-guides/de...,http://www.ibm.com,SimplyHired,OVlLx29xNioAAAAAAAAAAA==,FULLTIME,Entry Level - Associate Data Scientist (Commer...,https://www.simplyhired.com/job/VnbDXu6yp_FMxe...,Introduction\n\nA career in IBM Consulting emb...,False,1674098918,2023-01-19T03:28:38.000Z,New York,NY,US,40.712776,-74.005974,"[health_insurance, paid_time_off, dental_cover...",https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,None,False,NaN,NaN,None,None,False,NaN,True,False,False,False,False,False,False,True,False,True,[Familiarity with programming/scripting in a l...,"[As an Associate Data Scientist at IBM, you'll...",[Healthcare benefits including medical & presc...
25,SynergisticIT,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,MqTchdUoC8YAAAAAAAAAAA==,FULLTIME,Junior level data scientists,https://www.linkedin.com/jobs/view/junior-leve...,SYNERGISTICIT wants every candidate to know we...,False,1673917241,2023-01-17T01:00:41.000Z,None,None,US,37.090240,-95.712890,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-16T01:00:40.000Z,1.676509e+09,None,False,NaN,NaN,None,None,False,12.0,True,False,False,False,False,False,True,True,True,False,[Who Should Apply Recent IT Graduates looking ...,NaN,NaN
26,Pixelligent Technologies,https://media.zenfs.com/en/globenewswire.com/b...,http://www.pixelligent.com,LinkedIn,xQEpBLMRn-AAAAAAAAAAAA==,FULLTIME,Data Analyst (Entry Level),https://www.linkedin.com/jobs/view/data-analys...,"Join a high-energy, sophisticated nano-technol...",False,1672874803,2023-01-04T23:26:43.000Z,Baltimore,MD,US,39.290386,-76.612190,None,https://www.google.com/search?gl=us&hl=en&rciv...,2023-02-17T23:27:08.000Z,1.676676e+09,None,False,NaN,NaN,None,None,False,NaN,True,True,False,False,False,False,True,True,True,False,[Bachelors degree in Computer Science related...,[Assist in implementation and continued use of...,NaN
27,U.S. News & World Report,https://upload.wikimedia.org/wikipedia/commons...,http://www.usnews.com,LinkedIn,DPJ5JBWIXacAAAAAAAAAAA==,FULLTIME,Health Data Scientist (Remote),https://www.linkedin.com/jobs/view/health-data...,U.S. News & World Report is a multifaceted dig...,True,1673958365,2023-01-17T12:26:05.000Z,Washington,DC,US,38.907192,-77.036870,"[paid_time_off, health_insurance]",https://www.google.com/search?gl=us&hl=en&rciv...,2023-03-06T03:30:54.000Z,1.678073e+09,None,False,NaN,NaN,None,None,False,36.0,True,False,False,False,False,False,True,True,False,True,[You have experience reading and interpreting ...,[You will have opportunities to engage with he...,[Competitive benefits including paid vacation ...
28,General Motors,https://media.gm.com/content/media.suffiximg.w...,http://www.gm.com,Karkidi,bLCYqvRSl90AAAAAAAAAAA==,FULLTIME,Entry Level - Masters Degree Data Analyst,https://www.karkidi.com/job-details/18787-entr...,To achieve our vision of a world with Zero Cra...,False,1649548800,2022-04-10T00:00:00.000Z,Detroit,MI,US,42.331430,-83.045750,None,https://www.google.com/search?gl=us&hl=en&rciv...,None,NaN,[Microsoft-Excel],False,120000.0,190000.0,USD,YEAR,False,NaN,True,False,False,False,False,False,False,True,False,False,"[Have a steadfast drive for excellence, Have a...","[Challenge themselves and their peers, Enjoy w...",NaN

In [64]:
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df2 = pd.json_normalize(entry_level_data_scientists, 'data')
new_data_df = df2.loc[:, columns]
new_data_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,National Security Agency,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,Fort Meade,MD,US,39.104263,-76.734240
1,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.adzuna.com/details/3862859345,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,None,PA,US,41.203323,-77.194530
2,SynergisticIT,Entry level data scientist,https://us.bebee.com/job/20230123-c82ed72184ca...,SYNERGISTICIT wants every candidate to know we...,False,None,None,US,37.090240,-95.712890
3,SynergisticIT,ENTRY LEVEL DATA SCIENTIST,https://www.linkedin.com/jobs/view/entry-level...,SYNERGISTICIT wants every candidate to know th...,False,Oklahoma City,OK,US,35.467560,-97.516426
4,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Seattle,WA,US,47.606210,-122.332070
5,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Lansing,MI,US,42.732536,-84.555534
6,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.monster.com/job-openings/entry-lev...,Company Description\n\nNOT A CODING OR DATA SC...,False,Lancaster,PA,US,40.037876,-76.305510
7,SynergisticIT,Entry Level Data Scientist,https://us.trabajo.org/job-1275-20230124-9c5ff...,SYNERGISTICIT wants every candidate to know th...,False,Aberdeen,SD,US,45.464700,-98.486480
8,SynergisticIT,Entry Level Data Scientist (Remote),https://www.datayoshi.com/offer/672278/entry-l...,Synergistic IT is a full-service staffing and ...,False,College Station,TX,US,30.627977,-96.334404
9,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Portland,ME,US,43.659100,-70.256820
10,ERM,Staff Environmental Data Scientist (Entry Level),https://www.linkedin.com/jobs/view/staff-envir...,ERM is seeking a Staff Environmental Data Scie...,False,Charlotte,NC,US,35.227085,-80.843124
11,I28 Technologies,Entry Level Data Scientist-333325,https://www.glassdoor.com/job-listing/entry-le...,"Analysis tools, defining, and implementing i...",False,Marysville,MI,US,42.912530,-82.486860
12,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.learn4good.com/jobs/lancaster/penn...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,Lancaster,PA,US,40.037876,-76.305510
13,SynergisticIT,Junior Level Data Scientist,https://www.ziprecruiter.com/c/SynergisticIT/J...,"Job Description\n\nGreetings,\nSynergistic IT ...",False,Fremont,CA,US,37.548540,-121.988590
14,Staffingly,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,Denver,CO,US,39.739235,-104.990250
15,Careerbuilder-US,Entry Level Data Scientist,https://us.bebee.com/job/20230117-9ac9bf9ccc4c...,About Us :\nSynergistic IT is a full-service s...,False,Miami,FL,US,25.761680,-80.191790
16,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
17,Eurofins USA BioPharma Services,Cell and Molecular Biology Data Review Scienti...,https://www.wayup.com/i-j-Eurofins-USA-BioPhar...,Job Description\n\nEMPLOYEE RESPONSIBILITIES:\...,False,Lancaster,PA,US,40.037876,-76.305510
18,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.recruit.net/job/entry-level-jobs/4...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,None,AZ,US,34.048927,-111.093735
19,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Montgomery,AL,US,32.379223,-86.307740
20,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Fremont,CA,US,37.548540,-121.988590
21,Eurofins USA BioPharma Services,Scientist entry level,https://www.talent.com/view?id=63c1c91b03b5,Job Description\n NOT A CODING OR DATA SCIENC...,False,Portage,MI,US,42.201153,-85.580000
22,Verizon,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,Boston,MA,US,42.360080,-71.058880
23,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Cedar Rapids,IA,US,41.977880,-91.665630
24,IBM,Entry Level - Associate Data Scientist (Commer...,https://www.simplyhired.com/job/VnbDXu6yp_FMxe...,Introduction\n\nA career in IBM Consulting emb...,False,New York,NY,US,40.712776,-74.005974
25,SynergisticIT,Junior level data scientists,https://www.linkedin.com/jobs/view/junior-leve...,SYNERGISTICIT wants every candidate to know we...,False,None,None,US,37.090240,-95.712890
26,Pixelligent Technologies,Data Analyst (Entry Level),https://www.linkedin.com/jobs/view/data-analys...,"Join a high-energy, sophisticated nano-technol...",False,Baltimore,MD,US,39.290386,-76.612190
27,U.S. News & World Report,Health Data Scientist (Remote),https://www.linkedin.com/jobs/view/health-data...,U.S. News & World Report is a multifaceted dig...,True,Washington,DC,US,38.907192,-77.036870
28,General Motors,Entry Level - Masters Degree Data Analyst,https://www.karkidi.com/job-details/18787-entr...,To achieve our vision of a world with Zero Cra...,False,Detroit,MI,US,42.331430,-83.045750
29,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Lansing,MI,US,42.732536,-84.555534
30,Staffigo,Junior Data Analyst,https://www.linkedin.com/jobs/view/junior-data...,About Us\n\nStaffigo is in the business of pro...,False,Flint,MI,US,43.012527,-83.687454
31,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Nashua,NH,US,42.765366,-71.467570
32,Resume Library,Data Scientist/ Data Analyst (Remote),https://www.mendeley.com/careers/job/data-scie...,SYNERGISTICIT wants every candidate to know th...,False,Los Angeles,CA,US,34.052235,-118.243680
33,SynergisticIT,Entry level Data Analyst,https://www.adzuna.com/details/3862823734,SYNERGISTICIT wants every candidate to know th...,False,Jacksonville,FL,US,30.332184,-81.655650
34,Staffigo,Junior Data Analyst,https://www.linkedin.com/jobs/view/junior-data...,About Us:\n\nStaffigo is in the business of pr...,False,San Antonio,TX,US,29.425190,-98.494590
35,IBM,Entry Level Associate Data Scientist (Commer...,https://texas.tarta.ai/j/G_THv4IB1CjJbXOrJl110...,Key Job Details\n Country/Region:US\n State:...,False,Dallas,TX,US,32.776665,-96.796990
36,SynergisticIT,Entry Level Data Scientist,https://us.bebee.com/job/20230120-25201a4367c2...,About Us:\nSynergistic IT is a full-service st...,False,Jacksonville,FL,US,30.332184,-81.655650
37,LaSalle Network,Entry-Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,Job Description\n\nLaSalle Network is seeking ...,False,Chicago,IL,US,41.878113,-87.629800
38,CareerBuilder-US,Entry Level Data Scientist,https://boise-id.geebo.com/jobs-online/view/id...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Boise,ID,US,43.615017,-116.202320
39,CACI International Inc,Mid-Level Data Analyst/Scientist,https://www.linkedin.com/jobs/view/mid-level-d...,Job Category: Science\n\nTime Type: Full time\...,False,State Farm,VA,US,37.633034,-77.836780
40,RAND Corporation,"Statistical Research Programmer, Entry Level",https://www.karkidi.com/job-details/28242-stat...,"Statistical Research Programmers, Level 1 work...",False,Santa Monica,CA,US,34.019455,-118.491190
41,RecruitTalent,Mid-Level Data Scientist,https://www.linkedin.com/jobs/view/mid-level-d...,"As a Mid-Level Data Engineer, this role focuse...",False,Herndon,VA,US,38.969555,-77.386100
42,Synergistic it,Entry Level Data Scientist,https://www.whatjobs.com/jobs/Entry-Level-Data...,Job Description SYNERGISTIC wants every candid...,False,Fremont,CA,US,37.548540,-121.988590
43,Synergistic IT,Entry level data scientist,https://sunnyvale-ca.geebo.com/jobs-online/vie...,SYNERGISTICIT wants every candidate to know th...,False,Sunnyvale,CA,US,37.368830,-122.036350

In [66]:
result_df = pd.merge(new_df, new_data_df, on='employer_name')
result_df

,employer_name,job_title_x,job_apply_link_x,job_description_x,job_is_remote_x,job_city_x,job_state_x,job_country_x,job_latitude_x,job_longitude_x,job_title_y,job_apply_link_y,job_description_y,job_is_remote_y,job_city_y,job_state_y,job_country_y,job_latitude_y,job_longitude_y
0,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630,Entry level data scientist,https://us.bebee.com/job/20230123-c82ed72184ca...,SYNERGISTICIT wants every candidate to know we...,False,None,None,US,37.090240,-95.712890
1,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630,ENTRY LEVEL DATA SCIENTIST,https://www.linkedin.com/jobs/view/entry-level...,SYNERGISTICIT wants every candidate to know th...,False,Oklahoma City,OK,US,35.467560,-97.516426
2,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Seattle,WA,US,47.606210,-122.332070
3,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Lansing,MI,US,42.732536,-84.555534
4,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630,Entry Level Data Scientist,https://us.trabajo.org/job-1275-20230124-9c5ff...,SYNERGISTICIT wants every candidate to know th...,False,Aberdeen,SD,US,45.464700,-98.486480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,ERM,Research Analyst (Entry Level),https://www.linkedin.com/jobs/view/research-an...,"Shelton Group, an ERM Group company, exists to...",False,Charlotte,NC,US,35.227085,-80.843124,Staff Environmental Data Scientist (Entry Level),https://www.linkedin.com/jobs/view/staff-envir...,ERM is seeking a Staff Environmental Data Scie...,False,Charlotte,NC,US,35.227085,-80.843124
134,Verizon,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,Boston,MA,US,42.360080,-71.058880,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,Boston,MA,US,42.360080,-71.058880
135,National Security Agency,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,Fort Meade,MD,US,39.104263,-76.734240,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,Fort Meade,MD,US,39.104263,-76.734240
136,Synergistic IT,Entry Level Data Analyst,https://jooble.org/jdp/2426417117652925034/Ent...,SYNERGISTICIT wants every candidate to know th...,False,Atlanta,GA,US,33.748753,-84.387690,Entry level data scientist,https://sunnyvale-ca.geebo.com/jobs-online/vie...,SYNERGISTICIT wants every candidate to know th...,False,Sunnyvale,CA,US,37.368830,-122.036350
137,RAND Corporation,"Statistical Research Programmer, Entry Level",https://www.karkidi.com/job-details/28242-stat...,"Statistical Research Programmers, Level 1 work...",False,Santa Monica,CA,US,34.019455,-118.491190,"Statistical Research Programmer, Entry Level",https://www.karkidi.com/job-details/28242-stat...,"Statistical Research Programmers, Level 1 work...",False,Santa Monica,CA,US,34.019455,-118.491190