In [1]:
# Dependencies
import requests
import pandas as pd
import matplotlib as plt
import numpy as np
import json
import sqlalchemy
from sqlalchemy import create_engine
from pymongo import MongoClient

In [2]:
# Save url as variable
url = "https://us-states.p.rapidapi.com/all"

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "us-states.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers)
data = response.json()

# Print the response
print(response.text)

[{"name": "Alabama", "postal": "AL", "capital": {"name": "Montgomery", "latitude": "32.377716", "longitude": "-86.300568"}, "date": "Dec 14, 1819", "population": {"density_km": "37", "total": "5024279", "density_mi": "95"}, "nickname": "Heart of Dixie", "fips": "01", "demonym": "Alabamian", "cities": [{"name": "Huntsville", "population": "215006"}, {"name": "Birmingham", "population": "200733"}, {"name": "Montgomery", "population": "198956"}, {"name": "Mobile", "population": "189572"}, {"name": "Tuscaloosa", "population": "101113"}], "lowest_point": "Gulf of Mexico", "highest_point": "Cheaha Mountain", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "500", "max_rank": "38", "max_ft": "2413", "span_ft": "2413", "mean_rank": "44", "span_m": "736", "mean_m": "150", "max_m": "736"}, "area": {"total_mi": "52420.07", "land_rank": "28", "land_km": "131171", "water_rank": "25", "total_rank": "30", "land_mi": "50645.33", "water_km": "4597", "total_km": "135767", "land_percent": "96.61", "water_mi": "1774.74", "water_percent": "3.39"}, "website": "http://www.alabama.gov", "per_capita_income": "$23,606 ", "median_household_income": "$49,861 ", "status": "state", "other_nicknames": ["Camellia State", "Yellowhammer State", "Cotton State"], "standard_federal_region": "Region IV", "census_bureau": {"region": "South", "division": "East South Central"}, "ap_abbreviation": "Ala.", "gpo_abbreviation": "Ala.", "representatives": "7", "time_zones": ["CST"], "koppen_climate": ["Cfa"], "motto": "Audemus jura nostra defendere", "symbols": {"mascot": "Eastern Tiger Wwallowtail", "fruit": "Blackberry", "tree fruit": "Peach", "soil": "Bama", "game bird": "Wild Turkey", "reptile": "Alabama Red-Bellied Turtle", "amphibian": "Red Hills Salamander", "nut": "Pecan", "vegetable": "Sweet Potato", "gem": "Star Blue Quartz", "rock": "Marble", "saltwater fish": "Atlantic Tarpon", "mammal": "American Black Bear", "butterfly": "Eastern Tiger Swallowtail", "cake": "Lane Cake", "bird": "Yellowhammer", "insect": "Monarch Butterfly", "mineral": "Hematite", "song": "Alabama", "spirit": "Conecuh Ridge Alabama Fine Whiskey", "tree": "Southern Longleaf Pine", "fossil": "Basilosaurus", "freshwater fish": "Largemouth Bass", "flower": "Camellia", "horse": "Racking Horse", "wildflower": "Oak-Leaf Hydrangea", "shell": "Johnstone's Junonia"}, "subdivisions": ["Autauga", "Baldwin", "Barbour", "Bibb", "Blount", "Bullock", "Butler", "Calhoun", "Chambers", "Cherokee", "Chilton", "Choctaw", "Clarke", "Clay", "Cleburne", "Coffee", "Colbert", "Conecuh", "Coosa", "Covington", "Crenshaw", "Cullman", "Dale", "Dallas", "DeKalb", "Elmore", "Escambia", "Etowah", "Fayette", "Franklin", "Geneva", "Greene", "Hale", "Henry", "Houston", "Jackson", "Jefferson", "Lamar", "Lauderdale", "Lawrence", "Lee", "Limestone", "Lowndes", "Macon", "Madison", "Marengo", "Marion", "Marshall", "Mobile", "Monroe", "Montgomery", "Morgan", "Perry", "Pickens", "Pike", "Randolph", "Russell", "St. Clair", "Shelby", "Sumter", "Talladega", "Tallapoosa", "Tuscaloosa", "Walker", "Washington", "Wilcox", "Winston"]}, {"name": "Alaska", "postal": "AK", "capital": {"name": "Juneau", "latitude": "58.301598", "longitude": "-134.420212"}, "date": "Jan 3, 1959", "population": {"density_km": "<1", "total": "733391", "density_mi": "1"}, "nickname": "The Last Frontier", "fips": "02", "demonym": "Alaskan", "cities": [{"name": "Anchorage", "population": "291538"}, {"name": "Juneau", "population": "32197"}, {"name": "Fairbanks", "population": "31516"}, {"name": "Wasilla", "population": "10529"}, {"name": "Sitka", "population": "8647"}], "lowest_point": "Gulf of Alaska, Bering Sea, and Arctic Ocean", "highest_point": "Denali", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "1900", "max_rank": "1", "max_ft": "20310", "span_ft": "20310", "mean_rank": "15", "span_m": "6191", "mean_m": "580", "max_m": "6191"}, "area": {"total_mi": "665384.04", "land_rank": "1", "land_km": "1477953", "water_rank": "1", "total_rank": "1", "land_mi": "570640.95", "water_km": "245384", "total_km": "1723337", "land_percent": "85.76", "water_mi": "94743.1", "water_percent": "14.24"}, "website": "http://alaska.gov/", "per_capita_income": "$33,062 ", "median_household_income": "$74,346 ", "status": "state", "other_nicknames": ["Great Land", "Land of the Midnight Sun", "Mainland State", "49th State", "North Star State", "Up Over", "Seward's Ice Box", "Seward's Folly"], "standard_federal_region": "Region X", "census_bureau": {"region": "West", "division": "Pacific"}, "ap_abbreviation": "Alaska", "gpo_abbreviation": "Alaska", "representatives": "1", "time_zones": ["AKST", "HST"], "koppen_climate": ["BSk", "Cfb", "Cfc", "Dsb", "Dsc", "Dwc", "Dfb", "Dfc", "ET", "EF"], "motto": "North to the Future", "symbols": {"song": "Alaska's Flag", "tree": "Sitka Spruce", "land mammal": "Moose", "fossil": "Woolly Mammoth", "gem": "Jade", "flower": "Forget-Me-Not", "bird": "Willow Ptarmigan", "fish": "King Salmon", "insect": "Four-Spot Skimmer Dragonfly", "bolt action rifle": "Pre-1964 Winchester Model 70", "mineral": "Gold", "dog": "Alaskan Malamute", "marine mammal": "Bowhead Whale", "sport": "Dog Mushing"}, "subdivisions": ["Aleutians East Borough", "Aleutians West Census Area", "Municipality of Anchorage", "Bethel Census Area", "Bristol Bay Borough", "Chugach Census Area", "Copper River Census Area", "Denali Borough", "Dillingham Census Area", "Fairbanks North Star Borough", "Haines Borough", "Hoonah\u2013Angoon Census Area", "City and Borough of Juneau", "Kenai Peninsula Borough", "Ketchikan Gateway Borough", "Kodiak Island Borough", "Kusilvak Census Area", "Lake and Peninsula Borough", "Matanuska-Susitna Borough", "Nome Census Area", "North Slope Borough", "Northwest Arctic Borough", "Petersburg Borough", "Prince of Wales \u2013 Hyder Census Area", "City and Borough of Sitka", "Municipality of Skagway", "Southeast Fairbanks Census Area", "City and Borough of Wrangell", "City and Borough of Yakutat", "Yukon\u2013Koyukuk Census Area"]}, {"name": "American Samoa", "postal": "AS", "capital": {"name": "Pago Pago", "latitude": "-14.279444", "longitude": "-170.700556"}, "date": "Feb 20, 1929", "population": {"density_km": "279", "total": "49710", "density_mi": "721"}, "nickname": "Motu o Fiafiaga", "fips": "60", "demonym": "American Samoan", "cities": [{"name": "Tafuna", "population": "7945"}, {"name": "Nu'uuli", "population": "3955"}, {"name": "Pago Pago", "population": "3656"}, {"name": "'Ili'ili", "population": "3195"}, {"name": "Pava'ia'i", "population": "2450"}], "lowest_point": "Pacific Ocean", "highest_point": "Lata Mountain on Ta\u2018\u016b island", "elevation": {"min_ft": "sea level", "min_m": "sea level", "mean_ft": "1581", "max_rank": "35", "max_ft": "3170", "span_ft": "3170", "mean_rank": "19", "span_m": "966", "mean_m": "482", "max_m": "966"}, "area": {"total_mi": "581.05", "land_rank": "55", "land_km": "198", "water_rank": "47", "total_rank": "54", "land_mi": "76.46", "water_km": "1307", "total_km": "1505", "land_percent": "13.16", "water_mi": "504.6", "water_percent": "86.84"}, "website": "https://www.americansamoa.gov/", "per_capita_income": "$6,311 ", "median_household_income": "$22,000 ", "status": "unincorporated unorganized territory", "standard_federal_region": "Region IX", "gpo_abbreviation": "A.S.", "representatives": "1", "time_zones": ["SST"], "koppen_climate": ["Af", "Aw"], "motto": "Samoa, Muamua Le Atua", "symbols": {"song": "Amerika Samoa", "tree": "Paogo", "flower": "Paogo", "plant": "Ava"}, "subdivisions": ["Eastern District", "Manu'a District", "Rose Atoll (Rose Island)", "Swains Island", "Western District"]}, {"name": "Arizona", "postal": "AZ", "capital": {"name": "Phoenix", "latitude": "33.448143", "longitude": "-112.096962"}, "date": "Feb 14, 1912", "population": {"density_km": "23", "total": "7151502", "density_mi": "60"}, "nickname": "Grand Canyon State", "fips": "04", "demonym": "Arizonan", "cities": [{"name": "Phoenix", "population": "1660272"}, {"name": "Tucson", "population": "545975"}, {"name": "Mesa", "population": "508958"}, {"name": "Chandler", "population": "257165"}, {"name": "Scottsdale", "population": "255310"}], "lowest_point": "Colorado River at Sonora border, San Luis, Arizona", "highest_point": "Humphreys Peak", "elevation": {"min_ft": "72", "min_m": "22", "mean_ft": "4100", "max_rank": "12", "max_ft": "12637", "span_ft": "12565", "mean_rank": "7", "span_m": "3830", "mean_m": "1250", "max_m": "3852"}, "area": {"total_mi": "113990.3", "land_rank": "6", "land_km": "294207", "water_rank": "52", "total_rank": "6", "land_mi": "113594.08", "water_km": "1026", "total_km": "295234", "land_percent": "99.65", "water_mi": "396.22", "water_percent": "0.35"}, "website": "https://az.gov/", "per_capita_income": "$25,715 ", "median_household_income": "$59,246 ", "status": "state", "other_nicknames": ["Apache State", "Copper State"], "standard_federal_region": "Region IX", "census_bureau": {"region": "West", "division": "Mountain"}, "ap_abbreviation": "Ariz.", "gpo_abbreviation": "Ariz.", "representatives": "9", "time_zones": ["MST"], "koppen_climate": ["ET", "Dsc", "Dsb", "Cfb", "Csc", "Csb", "Csa", "BSk", "BSh", "BWk", "BWh"], "motto": "Ditat Deus", "symbols": {"song": "Arizona March Song,Arizona", "metal": "Copper", "tree": "Palo Verde", "soil": "Casa Grande", "reptile": "Arizona Ridge-Nosed Rattlesnake", "amphibian": "Arizona Tree Frog", "fossil": "Petrified Wood", "colors": "Federal Blue and Old Gold", "drink": "Lemonade", "gem": "Turquoise", "flower": "Saguaro Cactus Blossom", "mammal": "Ring-Tailed Cat", "butterfly": "Two-Tailed Swallowtail", "bird": "Cactus Wren", "fish": "Apache Trout", "firearm": "Colt Single Action Army", "dinosaur": "Sonorasaurus", "mineral": "Wulfenite", "neckwear": "Bolo Tie"}, "subdivisions": ["Apache", "Cochise", "Coconino", "Gila", "Graham", "Greenlee", "La Paz", "Maricopa", "Mohave", "Navajo", "Pima", "Pinal", "Santa Cruz", "Yavapai", "Yuma"]}, {"name": "Arkansas", "postal": "AR", "capital": {"name": "Little Rock", "latitude": "34.746613", "longitude": "-92.288986"}, "date": "Jun 15, 1836", "population": {"density_km": "22", "total": "3011524", "density_mi": "57"}, "nickname": "Natural State", "fips": "05", "demonym": "Arkansan", "cities": [{"name": "Little Rock", "population": "197881"}, {"name": "Fort Smith", "population": "87845"}, {"name": "Fayetteville", "population": "86751"}, {"name": "Springdale", "population": "81029"}, {"name": "Jonesboro", "population": "76990"}], "lowest_point": "Ouachita River at Louisiana border", "highest_point": "Mount Magazine", "elevation": {"min_ft": "55", "min_m": "17", "mean_ft": "650", "max_rank": "37", "max_ft": "2753", "span_ft": "2698", "mean_rank": "39", "span_m": "822", "mean_m": "200", "max_m": "839"}, "area": {"total_mi": "53178.55", "land_rank": "27", "land_km": "134771", "water_rank": "33", "total_rank": "29", "land_mi": "52035.48", "water_km": "2961", "total_km": "137732", "land_percent": "97.85", "water_mi": "1143.07", "water_percent": "2.15"}, "website": "http://www.arkansas.gov/", "per_capita_income": "$22,883 ", "median_household_income": "$47,062 ", "status": "state", "other_nicknames": ["Bear State", "Land of OpportunityWonder State"], "standard_federal_region": "Region VI", "census_bureau": {"region": "South", "division": "West South Central"}, "ap_abbreviation": "Ark.", "gpo_abbreviation": "Ark.", "representatives": "4", "time_zones": ["CST"], "koppen_climate": ["Cfa"], "motto": "Regnat populus", "symbols": {"floral emblem": "Apple Blossom", "tree": "Pine Tree", "folk dance": "Square Dance", "soil": "Stuttgart Soil Series", "grape": "Cynthiana", "nut": "Pecan", "fruit and vegetable": "South Arkansas Vine Ripe Pink Tomato", "drink": "Milk", "gem": "Diamond", "rock": "Bauxite", "musical instrument": "Fiddle", "mammal": "White-Tailed Deer", "butterfly": "Diana Fritillary Butterfly", "bird": "Mockingbird", "primitive fish": "Alligator Gar", "insect": "Honey Bee", "grain": "Rice", "mineral": "Quartz", "cooking pot": "Dutch Oven"}, "subdivisions": ["Arkansas", "Ashley", "Baxter", "Benton", "Boone", "Bradley", "Calhoun", "Carroll", "Chicot", "Clark", "Clay", "Cleburne", "Cleveland", "Columbia", "Conway", "Craighead", "Crawford", "Crittenden", "Cross", "Dallas", "Desha", "Drew", "Faulkner", "Franklin", "Fulton", "Garland", "Grant", "Greene", "Hempstead", "Hot Spring", "Howard", "Independence", "Izard", "Jackson", "Jefferson", "Johnson", "Lafayette", "Lawrence", "Lee", "Lincoln", "Little River", "Logan", "Lonoke", "Madison", "Marion", "Miller", "Mississippi", "Monroe", "Montgomery", "Nevada", "Newton", "Ouachita", "Perry", "Phillips", "Pike", "Poinsett", "Polk", "Pope", "Prairie", "Pulaski", "Randolph", "St. Francis", "Saline", "Scott", "Searcy", "Sebastian", "Sevier", "Sharp", "Stone", "Union", "Van Buren", "Washington", "White", "Woodruff", "Yell"]}, {"name": "California", "postal": "CA", "capital": {"name": "Sacramento", "latitude": "38.576668", "longitude": "-121.493629"}, "date": "Sep 9, 1850", "population": {"density_km": "97", "total": "39538223", "density_mi": "251"}, "nickname": "Golden State", "fips": "06", "demonym": "Californian", "cities": [{"name": "Los Angeles", "population": "3997984"}, {"name": "San Diego", "population": "1425976"}, {"name": "San Jose", "population": "1030119"}, {"name": "San Francisco", "population": "884198"}, {"name": "Fresno", "population": "530093"}], "lowest_point": "Badwater Basin in Death Valley", "highest_point": "Mount Whitney", "elevation": {"min_ft": "\u2212282", "min_m": "\u221286", "mean_ft": "2900", "max_rank": "2", "max_ft": "14505", "span_ft": "14783", "mean_rank": "11", "span_m": "4506", "mean_m": "880", "max_m": "4421"}, "area": {"total_mi": "163694.74", "land_rank": "3", "land_km": "403466", "water_rank": "6", "total_rank": "3", "land_mi": "155779.22", "water_km": "20501", "total_km": "423967", "land_percent": "95.16", "water_mi": "7915.52", "water_percent": "4.84"}, "website": "https://www.ca.gov/", "per_capita_income": "$30,441 ", "median_household_income": "$75,277 ", "status": "state", "other_nicknames": ["El Dorado State", "Golden West", "Grape State", "Land of Milk and Honey", "Sunshine State", "Liberal Land"], "standard_federal_region": "Region IX", "census_bureau": {"region": "West", "division": "Pacific"}, "ap_abbreviation": "Calif.", "gpo_abbreviation": "Calif.", "representatives": "53", "time_zones": ["PST"], "koppen_climate": ["ET", "Dsc", "Dsb", "Csc", "Csb", "Csa", "BSk", "BSh", "BWk", "Bwh"], "motto": "Eureka", "symbols": {"fruit": "Avocado", "lichen": "Lace lichen", "soil": "San Joaquin", "reptile": "Desert Tortoise", "amphibian": "California Red-Legged Frog", "nut": "Almond,Walnut,Pistachio,Pecan", "vegetable": "Artichoke", "colors": "Blue and Gold", "gem": "Benitoite", "rock": "Serpentine", "grass": "Purple Needlegrass", "bird": "California Quail", "insect": "California Dogface Butterfly", "dinosaur": "Augustynolophus", "grain": "Rice", "mineral": "Gold", "marine reptile": "Leatherback Sea Turtle", "dance": "West Coast Swing", "marine mammal": "Gray Whale", "tartan": "California State Tartan", "gold rush ghost town": "Bodie", "tree": "Coast Redwood,Giant Sequoia", "folk dance": "Square Dance", "silver rush ghost town": "Calico", "fossil": "Saber-Toothed Cat", "freshwater fish": "Golden Trout", "flower": "California Poppy", "marine fish": "Garibaldi", "fabric": "Denim", "sport": "Surfing"}, "subdivisions": ["Alameda", "Alpine", "Amador", "Butte", "Calaveras", "Colusa", "Contra Costa", "Del Norte", "El Dorado", "Fresno", "Glenn", "Humboldt", "Imperial", "Inyo", "Kern", "Kings", "Lake", "Lassen", "Los Angeles", "Madera", "Marin", "Mariposa", "Mendocino", "Merced", "Modoc", "Mono", "Monterey", "Napa", "Nevada", "Orange", "Placer", "Plumas", "Riverside", "Sacramento", "San Benito", "San Bernardino", "San Diego", "City and County of San Francisco", "San Joaquin", "San Luis Obispo", "San Mateo", "Santa Barbara", "Santa Clara", "Santa Cruz", "Shasta", "Sierra", "Siskiyou", "Solano", "Sonoma", "Stanislaus", "Sutter", "Tehama", "Trinity", "Tulare", "Tuolumne", "Ventura", "Yolo", "Yuba"]}, {"name": "Colorado", "postal": "CO", "capital": {"name": "Denver", "latitude": "39.739227", "longitude": "-104.984856"}, "date": "Aug 1, 1876", "population": {"density_km": "20", "total": "5773714", "density_mi": "52"}, "nickname": "Centennial State", "fips": "08", "demonym": "Coloradan", "cities": [{"name": "Denver", "population": "719238"}, {"name": "Colorado Springs", "population": "483829"}, {"name": "Aurora", "population": "374114"}, {"name": "Fort Collins", "population": "167830"}, {"name": "Lakewood", "population": "156798"}], "lowest_point": "Arikaree River at Kansas border", "highest_point": "Mount Elbert", "elevation": {"min_ft": "3317", "min_m": "1011", "mean_ft": "6800", "max_rank": "3", "max_ft": "14440", "span_ft": "11123", "mean_rank": "1", "span_m": "3390", "mean_m": "2070", "max_m": "4401"}, "area": {"total_mi": "104093.67", "land_rank": "8", "land_km": "268431", "water_rank": "48", "total_rank": "8", "land_mi": "103641.89", "water_km": "1170", "total_km": "269601", "land_percent": "99.57", "water_mi": "451.78", "water_percent": "0.43"}, "website": "http://www.colorado.gov/", "per_capita_income": "$32,357 ", "median_household_income": "$71,953 ", "status": "state", "other_nicknames": ["Columbine State", "Last Frontier", "Last Old West State", "Mile High State", "Mountain State", "Rocky Mountain State"], "standard_federal_region": "Region VIII", "census_bureau": {"region": "West", "division": "Mountain"}, "ap_abbreviation": "Colo.", "gpo_abbreviation": "Colo.", "representatives": "7", "time_zones": ["MST"], "koppen_climate": ["ET", "Dfc", "Dfb", "Dfa", "Dwc", "Dwb", "Dsc", "Dsb", "Dsa", "Cfb", "Cfa", "Cwb", "Csb", "Csa", "BSk", "BWk"], "motto": "Nil sine numine", "symbols": {"pets": "Colorado Shelter Pets", "song": "Where the Columbines Grow,Rocky Mountain High", "tartan": "Colorado State Tartan", "tree": "Colorado Blue Spruce", "folk dance": "Square Dance", "soil": "Seitz Soil", "reptile": "Western Painted Turtle", "amphibian": "Western Tiger Salamander", "fossil": "Stegosaurus", "gem": "Aquamarine", "flower": "Rocky Mountain Columbine", "rock": "Yule Marble", "mammal": "Rocky Mountain Bighorn Sheep", "grass": "Blue Grama Grass", "bird": "Lark Bunting", "fish": "Greenback Cutthroat Trout", "cactus": "Claret Cup Cactus", "insect": "Colorado Hairstreak Butterfly", "animal": "California Grizzly Bear", "mineral": "Rhodochrosite", "sport": "Pack Burro Racing"}, "subdivisions": ["Adams", "Alamosa", "Arapahoe", "Archuleta", "Baca", "Bent", "Boulder", "City and County of Broomfield", "Chaffee", "Cheyenne", "Clear Creek", "Conejos", "Costilla", "Crowley", "Custer", "Delta", "City and County of Denver", "Dolores", "Douglas", "Eagle", "Elbert", "El Paso", "Fremont", "Garfield", "Gilpin", "Grand", "Gunnison", "Hinsdale", "Huerfano", "Jackson", "Jefferson", "Kiowa", "Kit Carson", "Lake", "La Plata", "Larimer", "Las Animas", "Lincoln", "Logan", "Mesa", "Mineral", "Moffat", "Montezuma", "Montrose", "Morgan", "Otero", "Ouray", "Park", "Phillips", "Pitkin", "Prowers", "Pueblo", "Rio Blanco", "Rio Grande", "Routt", "Saguache", "San Juan", "San Miguel", "Sedgwick", "Summit", "Teller", "Washington", "Weld", "Yuma"]}, {"name": "Connecticut", "postal": "CT", "capital": {"name": "Hartford", "latitude": "41.764046", "longitude": "-72.682198"}, "date": "Jan 9, 1788", "population": {"density_km": "286", "total": "3605944", "density_mi": "741"}, "nickname": "Constitution State", "fips": "09", "demonym": "Connecticuter", "cities": [{"name": "Bridgeport", "population": "144900"}, {"name": "New Haven", "population": "130418"}, {"name": "Stamford", "population": "129775"}, {"name": "Hartford", "population": "122587"}, {"name": "Waterbury", "population": "108093"}], "lowest_point": "Long Island Sound", "highest_point": "Massachusetts border on the southern slope of Mount Frissell

In [3]:
# Write the data to a json file
with open('data.json', 'w') as outfile:
    json.dump(data, outfile, indent=4)

In [4]:
# Create a pandas data frame
df = pd.json_normalize(response.json())
df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,AS,"Feb 20, 1929",Motu o Fiafiaga,60,American Samoan,"[{'name': 'Tafuna', 'population': '7945'}, {'n...",Pacific Ocean,Lata Mountain on Ta‘ū island,https://www.americansamoa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Guam,GU,"Apr 11, 1899",Tano y Chamorro,66,Guamanian,"[{'name': 'Dededo', 'population': '44943'}, {'...",Pacific Ocean,Mount Lamlam,https://www.guam.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Northern Mariana Islands,MP,"Jan 9, 1978",Håfa Adai,69,Mariana Islander,"[{'name': 'Saipan', 'population': '48220'}, {'...",Pacific Ocean,Unnamed point on Agrihan island,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Puerto Rico,PR,"Apr 11, 1899",Isla del Encanto,72,Puerto Rican,"[{'name': 'San Juan', 'population': '320967'},...",Atlantic Ocean (Caribbean sea),Cerro de Punta,https://pr.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,U.S. Virgin Islands,VI,"Mar 31, 1917",Twin City,49,Virgin Islander,"[{'name': 'Charlotte Amalie', 'population': '1...",Atlantic Ocean (Caribbean Sea),Crown Mountain on the island of Saint Thomas,https://www.vi.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check data types
df.dtypes

name                          object
postal                        object
date                          object
nickname                      object
fips                          object
                               ...
symbols.heritage livestock    object
symbols.bat                   object
symbols.oyster                object
symbols.cocktail              object
symbols.domestic animal       object
Length: 203, dtype: object

In [6]:
# Check the counts
df.count()

name                          56
postal                        56
date                          56
nickname                      56
fips                          56
                              ..
symbols.heritage livestock     1
symbols.bat                    1
symbols.oyster                 1
symbols.cocktail               1
symbols.domestic animal        1
Length: 203, dtype: int64

In [7]:
# Slice the data frame to check for nulls
df.iloc[:,196:203]

,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop all territories
states_df = df.drop([2,11,36,41,47])
states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop half of the columns that have nulls
clean_states_df = states_df.drop(columns=['status','other_nicknames','standard_federal_region','status','other_nicknames','standard_federal_region','koppen_climate','population.density_km','elevation.min_ft','elevation.min_m','elevation.mean_ft','elevation.span_ft','elevation.mean_rank','elevation.span_m','elevation.mean_m','elevation.max_m','area.land_km','area.water_rank','area.total_rank','area.land_mi','area.water_km','area.total_km','area.land_percent','area.water_mi','area.water_percent','symbols.mascot','symbols.fruit','symbols.tree fruit','symbols.soil','symbols.game bird','symbols.reptile','symbols.amphibian','symbols.nut','symbols.vegetable','symbols.rock','symbols.saltwater fish','symbols.mammal','symbols.butterfly','symbols.cake','symbols.insect','symbols.mineral','symbols.spirit','symbols.fossil','symbols.freshwater fish','symbols.wildflower','symbols.shell','symbols.land mammal','symbols.fish','symbols.bolt action rifle','symbols.dog','symbols.marine mammal','symbols.sport','symbols.plant','symbols.metal','symbols.colors','symbols.drink','symbols.firearm','symbols.dinosaur','symbols.floral emblem','symbols.folk dance','symbols.grape','symbols.fruit and vegetable','symbols.musical instrument','symbols.primitive fish','symbols.grain','symbols.cooking pot','symbols.lichen','symbols.grass','symbols.marine reptile','symbols.dance','symbols.tartan','symbols.gold rush ghost town', 'symbols.marine animal','symbols.macroinvertebrate','symbols.wildlife animal','symbols.dessert','symbols.bug','symbols.beverage','symbols.herb','symbols.saltwater mammal','symbols.heritage cattle breed','symbols.pie','symbols.stone','symbols.tortoise','symbols.saltwater reptile','symbols.prepared food','symbols.waltz','symbols.cold water gamefish','symbols.crop','symbols.raptor','symbols.exercise','symbols.artifact','symbols.snackfood','symbols.prairie grass','symbols.slogan','symbols.river','symbols.rifle','symbols.red wine grape','symbols.white wine grape','symbols.flying fossil','symbols.gun', 'symbols.wild animal game species',	'symbols.sports car', 'symbols.crustacean',	'symbols.meat pie','symbols.berry',	'symbols.treat','symbols.ballad','symbols.cat','symbols.team sport','symbols.donut','symbols.bean',	'symbols.cookie','symbols.muffin','symbols.folk song', 'symbols.bee','symbols.mushroom', 'symbols.waterfowl','symbols.toy','symbols.tree nut','symbols.fruit tree','symbols.hockey team','symbols.football team','symbols.endangered species','symbols.soft drink','symbols.poultry','symbols.saltwater game fish','symbols.freshwater game fish','symbols.spider','symbols.cryptid','symbols.bush','symbols.freshwater trout','symbols.salamander', 'symbols.marsupial','symbols.flying mammal','symbols.game animal','symbols.microbe','symbols.coral','symbols.appetizer','symbols.heritage horse','symbols.jewelry','symbols.bread','symbols.shrub','symbols.pastry','symbols.dish','symbols.handgun','symbols.hymn', 'symbols.astronomical symbol','symbols.emblem','symbols.heritage livestock','symbols.bat','symbols.oyster','symbols.cocktail','symbols.domestic animal','symbols.hero','symbols.shellfish',"symbols.children's flower",'symbols.heroine','symbols.polka','symbols.music','symbols.game mammal','symbols.aquatic animal','symbols.frog','symbols.star','symbols.horse','symbols.neckwear','symbols.silver rush ghost town','symbols.marine fish','symbols.fabric',	'symbols.pets',	'symbols.cactus','symbols.animal','population.density_mi','ap_abbreviation','gpo_abbreviation'])
clean_states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,elevation.max_ft,area.total_mi,area.land_rank,census_bureau.region,census_bureau.division,symbols.gem,symbols.bird,symbols.song,symbols.tree,symbols.flower
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,2413,52420.07,28,South,East South Central,Star Blue Quartz,Yellowhammer,Alabama,Southern Longleaf Pine,Camellia
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,20310,665384.04,1,West,Pacific,Jade,Willow Ptarmigan,Alaska's Flag,Sitka Spruce,Forget-Me-Not
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,12637,113990.3,6,West,Mountain,Turquoise,Cactus Wren,"Arizona March Song,Arizona",Palo Verde,Saguaro Cactus Blossom
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,2753,53178.55,27,South,West South Central,Diamond,Mockingbird,NaN,Pine Tree,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,14505,163694.74,3,West,Pacific,Benitoite,California Quail,NaN,"Coast Redwood,Giant Sequoia",California Poppy
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,14440,104093.67,8,West,Mountain,Aquamarine,Lark Bunting,"Where the Columbines Grow,Rocky Mountain High",Colorado Blue Spruce,Rocky Mountain Columbine
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,2379,5543.41,48,Northeast,New England,NaN,American Robin,Yankee Doodle,Charter Oak,Mountain Laurel
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,447,2488.72,50,South,South Atlantic,NaN,Delaware Blue Hen,Our Delaware,American Holly,Peach Blossoms
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,345,65757.7,26,South,South Atlantic,Moonstone,Northern Mockingbird,Our Folks at Home,Sabal Palm,Orang Blossom
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,4784,59425.15,21,South,South Atlantic,Quartz,Brown Thrasher,Georgia on My Mind,Southern Live Oak,Cherokee Rose
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,13803,10931.72,47,West,Pacific,Black Coral,Nene,Hawai'I Pono'i,Kukui Tree,Pua Aloalo
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,12668,83568.95,11,West,Mountain,Star Garnet,Mountain Bluebird,Here We Have Idaho,Western White Pine,Syringa
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,1235,57913.55,24,Midwest,East North Central,NaN,Northern Cardinal,Illinois,White Oak,Violet
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,1257,36419.55,38,Midwest,East North Central,NaN,Cardinal,"On the Banks of the Wabash, Far Away",Tulip Tree,Peony
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,1671,56272.81,23,Midwest,West North Central,NaN,American Goldfinch,The Song of Iowa,Oak,Wild Rose
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,4041,82278.36,13,Midwest,West North Central,Jelinite,Western Meadowlark,Home on the Range,Cottonwood,Wild Native Sunflower
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,4145,40407.8,37,South,East South Central,Freshwater Pearl,Cardinal,My Old Kentucky Home,Tulip Poplar,Goldenrod
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,535,52378.13,33,South,West South Central,Crassostrea Virginica Oyster Shell,Brown Pelican,"You Are My Sunshine,Give Me Louisiana",Bald Cypress,Magnolia
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,5270,35379.74,39,Northeast,New England,Tourmaline,Chickadee,State of Maine Song,Eastern White Pine,White Pine Cone And Tassel
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,3360,12405.93,42,South,South Atlantic,Patuxent River Stone,Baltimore Oriole,NaN,White Oak,Black-Eyed Susan
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,3489,10554.39,45,Northeast,New England,Rhodonite,Chickadee,All Hail to Massachusetts,American Elm,Mayflower
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,1979,96713.51,22,Midwest,East North Central,Isle Royale Greenstone,American Robin,My Michigan,Eastern White Pine,Apple Blossom
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,2302,86935.83,14,Midwest,West North Central,Lake Superior Agate,Common Loon,Hail! Minnesota,Norway Pine,Pink-And-White Lady's Slipper
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,807,48431.78,31,South,East South Central,NaN,Northern Mockingbird,"Go, Mississippi",Southern Magnolia,Magnolia
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,1772,69706.99,18,Midwest,West North Central,NaN,Bluebird,Missouri Waltz,Flowering Dogwood,Hawthorn
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,12807,147039.71,4,West,Mountain,"Sapphire,Montana Moss Agate",Western Meadowlark,NaN,Ponderosa Pine,Bitterroot
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,5427,77347.81,15,Midwest,West North Central,Blue Agate,Western Meadowlark,Beautiful Nebraska,Cottonwood,Goldenrod
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,13147,110571.82,7,West,Mountain,NaN,Mountain Bluebird,Home Means Nevada,Bristlecone Pine,Sagebrush
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,6288,9349.16,44,Northeast,New England,Smokey Quartz,Purple Finch,Old New Hampshire,White Birch,Purple Lilac
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,1803,8722.58,46,Northeast,Mid-Atlantic,NaN,Eastern Goldfinch,NaN,Northern Red Oak,Common Meadow Violet
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,13167,121590.3,5,West,Mountain,Turquoise,Chaparral Bird,O Fair New Mexico,Two-Needle Pinon Pine,Yucca Flower
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,5343,54554.98,30,Northeast,Mid-Atlantic,Garnet,Eastern Bluebird,NaN,Sugar Maple,Rose
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,6684,53819.16,29,South,South Atlantic,NaN,Cardinal,The Old North State,Pine Tree,Flowering Dogwood
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,3508,70698.32,17,Midwest,West North Central,NaN,Western Meadowlark,North Dakato Hymn,American Elm,Wild Prairie Rose
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,1549,44825.58,35,Midwest,East North Central,Ohio Flignt,Cardinal,Beautiful Ohio,Ohio Buckeye,Scarlet Carnation
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,4975,69898.87,19,South,West South Central,NaN,Scissor-Tailed Flycatcher,NaN,Redbud,Oklahoma Rose
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,11249,98378.54,10,West,Pacific,Oregon Sunstone,Western Meadowlark,"Oregon, My Oregon",Douglas-Fir,Oregon-Grape
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,3213,46054.34,32,Northeast,Mid-Atlantic,NaN,NaN,Pennsylvania,Eastern Hemlock,Mountain Laurel
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,811,1544.89,51,Northeast,New England,NaN,Rhode Island Red Chicken,"Rhode Island, It's for Me",Red Maple,Violet
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,3560,32020.49,40,South,South Atlantic,Amethyst,Carolina Wren,"Carolina,South Carolina On My Mind",Sabal Palmetto,Yellow Jessamine
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,7244,77115.68,16,Midwest,West North Central,Fairburn Agate,Ring-Necked Pheasant,"Hail, South Dakota!",Black Hills Spruce,American Pasque Flower
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,6643,42144.25,34,South,East South Central,NaN,Mockingbird,NaN,Tulip Poplar,Iris
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,8751,268596.46,2,South,West South Central,Texas Blue Topaz,Northern Mockingbird,"Texas, Our Texas",Pecan,Bluebonnets
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,13534,84896.88,12,West,Mountain,Topaz,California Gull,Utah… This Is The Place,Quaking Aspen,Sego Lily
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,4395,9616.36,43,Northeast,New England,Grossular Garnet,Hermit Thrush,These Green Mountains,Sugar Maple,Red Clover
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,5729,42774.93,36,South,South Atlantic,NaN,Nothern Cardinal,"Our Great Virginia,Sweet Virginia Breeze, Carr...",American Dogwood,American Dogwood
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,14417,71297.95,20,West,Pacific,Petrified Wood,American Goldfinch,"Washington, My Home",Western Hemlock,Pacific Rhododendron
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,409,68.34,56,South,South Atlantic,NaN,Wood Thrush,Washington,Scarlet Oak,American Beauty Rose
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,4863,24230.04,41,South,South Atlantic,Silicfied Mississippian Lithostrotionella Coral,Cardinal,"Take Me Home, Country Roads",Sugar Maple,Rhododendron
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,1951,65496.38,25,Midwest,East North Central,NaN,American Robin,"On, Wisconsin",Sugar Maple,Wood Violet
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,13809,97813.01,9,West,Mountain,Jade,Western Meadowlark,Wyoming,Plains Cottonwood,Indian Paintbrush

In [28]:
# Show all columns of data frame
pd.options.display.max_columns = None
clean_states_df.to_html('states.html',index=False,classes=["table","table-striped","table-bordered"])
clean_states_df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,per_capita_income,median_household_income,representatives,time_zones,motto,subdivisions,capital.name,capital.latitude,capital.longitude,population.total,elevation.max_rank,elevation.max_ft,area.total_mi,area.land_rank,census_bureau.region,census_bureau.division,symbols.gem,symbols.bird,symbols.song,symbols.tree,symbols.flower
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606","$49,861",7,[CST],Audemus jura nostra defendere,"[Autauga, Baldwin, Barbour, Bibb, Blount, Bull...",Montgomery,32.377716,-86.300568,5024279,38,2413,52420.07,28,South,East South Central,Star Blue Quartz,Yellowhammer,Alabama,Southern Longleaf Pine,Camellia
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062","$74,346",1,"[AKST, HST]",North to the Future,"[Aleutians East Borough, Aleutians West Census...",Juneau,58.301598,-134.420212,733391,1,20310,665384.04,1,West,Pacific,Jade,Willow Ptarmigan,Alaska's Flag,Sitka Spruce,Forget-Me-Not
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715","$59,246",9,[MST],Ditat Deus,"[Apache, Cochise, Coconino, Gila, Graham, Gree...",Phoenix,33.448143,-112.096962,7151502,12,12637,113990.3,6,West,Mountain,Turquoise,Cactus Wren,"Arizona March Song,Arizona",Palo Verde,Saguaro Cactus Blossom
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883","$47,062",4,[CST],Regnat populus,"[Arkansas, Ashley, Baxter, Benton, Boone, Brad...",Little Rock,34.746613,-92.288986,3011524,37,2753,53178.55,27,South,West South Central,Diamond,Mockingbird,NaN,Pine Tree,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441","$75,277",53,[PST],Eureka,"[Alameda, Alpine, Amador, Butte, Calaveras, Co...",Sacramento,38.576668,-121.493629,39538223,2,14505,163694.74,3,West,Pacific,Benitoite,California Quail,NaN,"Coast Redwood,Giant Sequoia",California Poppy
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357","$71,953",7,[MST],Nil sine numine,"[Adams, Alamosa, Arapahoe, Archuleta, Baca, Be...",Denver,39.739227,-104.984856,5773714,3,14440,104093.67,8,West,Mountain,Aquamarine,Lark Bunting,"Where the Columbines Grow,Rocky Mountain High",Colorado Blue Spruce,Rocky Mountain Columbine
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373","$76,348",5,[EST],Qui transtulit sustinet,"[Fairfield, Hartford, Litchfield, Middlesex, N...",Hartford,41.764046,-72.682198,3605944,39,2379,5543.41,48,Northeast,New England,NaN,American Robin,Yankee Doodle,Charter Oak,Mountain Laurel
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488","$64,805",1,[EST],Liberty and independence,"[Kent, New Castle, Sussex]",Dover,39.157307,-75.519722,989948,54,447,2488.72,50,South,South Atlantic,NaN,Delaware Blue Hen,Our Delaware,American Holly,Peach Blossoms
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582","$55,462",27,[CST],In God we trust,"[Alachua, Baker, Bay, Bradford, Brevard, Browa...",Tallahassee,21.307442,-157.857376,21538187,56,345,65757.7,26,South,South Atlantic,Moonstone,Northern Mockingbird,Our Folks at Home,Sabal Palm,Orang Blossom
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615","$58,756",14,[EST],"Wisdom, Justice, Moderation","[Appling, Atkinson, Bacon, Baker, Baldwin, Ban...",Atlanta,30.438118,-84.281296,10711908,25,4784,59425.15,21,South,South Atlantic,Quartz,Brown Thrasher,Georgia on My Mind,Southern Live Oak,Cherokee Rose
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736","$80,212",2,[HST],Ua Mau ke Ea o ka ‘Āina i ka Pono,"[Hawaii, City and County of Honolulu, Kalawao,...",Honolulu,33.749027,-84.388229,1455271,6,13803,10931.72,47,West,Pacific,Black Coral,Nene,Hawai'I Pono'i,Kukui Tree,Pua Aloalo
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938","$55,583",2,"[MST, PST]",Esto perpetua,"[Ada, Adams, Bannock, Bear Lake, Benewah, Bing...",Boise,43.617775,-116.199722,1839106,11,12668,83568.95,11,West,Mountain,Star Garnet,Mountain Bluebird,Here We Have Idaho,Western White Pine,Syringa
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417","$65,030",18,[CST],"State sovereignty, national union","[Adams, Alexander, Bond, Boone, Brown, Bureau,...",Springfield,39.798363,-89.654961,12812508,50,1235,57913.55,24,Midwest,East North Central,NaN,Northern Cardinal,Illinois,White Oak,Violet
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140","$55,746",9,"[CST, EST]",The crossroads of America,"[Adams, Allen, Bartholomew, Benton, Blackford,...",Indianapolis,39.768623,-86.162643,6785528,49,1257,36419.55,38,Midwest,East North Central,NaN,Cardinal,"On the Banks of the Wabash, Far Away",Tulip Tree,Peony
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361","$59,955",4,[CST],Our liberties we prize and our rights we will ...,"[Adair, Adams, Allamakee, Appanoose, Audubon, ...",Des Moines,41.591087,-93.603729,3190369,45,1671,56272.81,23,Midwest,West North Central,NaN,American Goldfinch,The Song of Iowa,Oak,Wild Rose
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870","$58,218",4,"[CST, EST]",Ad astra per aspera,"[Allen, Anderson, Atchison, Barber, Barton, Bo...",Topeka,39.048191,-95.677956,2937880,29,4041,82278.36,13,Midwest,West North Central,Jelinite,Western Meadowlark,Home on the Range,Cottonwood,Wild Native Sunflower
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684","$50,247",6,"[CST, EST]","United we stand, divided we fall","[Adair, Allen, Anderson, Ballard, Barren, Bath...",Frankfort,38.186722,-84.875374,4505836,28,4145,40407.8,37,South,East South Central,Freshwater Pearl,Cardinal,My Old Kentucky Home,Tulip Poplar,Goldenrod
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800","$47,905",6,[CST],"Union, justice, and confidence","[Acadia Parish, Allen Parish, Ascension Parish...",Baton Rouge,30.457069,-91.187393,4657757,53,535,52378.13,33,South,West South Central,Crassostrea Virginica Oyster Shell,Brown Pelican,"You Are My Sunshine,Give Me Louisiana",Bald Cypress,Magnolia
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978","$55,602",2,[EST],Dirigo,"[Androscoggin, Aroostook, Cumberland, Franklin...",Augusta,44.307167,-69.781693,1362359,22,5270,35379.74,39,Northeast,New England,Tourmaline,Chickadee,State of Maine Song,Eastern White Pine,White Pine Cone And Tassel
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338","$83,242",8,[EST],"Fatti maschi, parole femmine","[Allegany, Anne Arundel, Baltimore, Calvert, C...",Annapolis,38.978764,-76.490936,6177224,33,3360,12405.93,42,South,South Atlantic,Patuxent River Stone,Baltimore Oriole,NaN,White Oak,Black-Eyed Susan
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593","$79,835",9,[EST],Ense petit placidam sub libertate quietem,"[Barnstable, Berkshire, Bristol, Dukes, Essex,...",Boston,42.358162,-71.063698,7029917,32,3489,10554.39,45,Northeast,New England,Rhodonite,Chickadee,All Hail to Massachusetts,American Elm,Mayflower
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613","$56,697",14,"[CST, EST]",Si quaeris peninsulam amoenam circumspice,"[Alcona, Alger, Allegan, Alpena, Antrim, Arena...",Lansing,42.733635,-84.555328,10077331,41,1979,96713.51,22,Midwest,East North Central,Isle Royale Greenstone,American Robin,My Michigan,Eastern White Pine,Apple Blossom
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638","$70,315",8,[CST],L’étoile du Nord,"[Aitkin, Anoka, Becker, Beltrami, Benton, Big ...",St. Paul,44.955097,-93.102211,5706494,40,2302,86935.83,14,Midwest,West North Central,Lake Superior Agate,Common Loon,Hail! Minnesota,Norway Pine,Pink-And-White Lady's Slipper
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036","$44,717",4,[CST],Virtute et armis,"[Adams, Alcorn, Amite, Attala, Benton, Bolivar...",Jackson,32.303848,-90.182106,2961279,52,807,48431.78,31,South,East South Central,NaN,Northern Mockingbird,"Go, Mississippi",Southern Magnolia,Magnolia
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126","$54,478",8,[CST],Salus populi suprema lex esto,"[Adair, Andrew, Atchison, Audrain, Barry, Bart...",Jefferson City,38.579201,-92.172935,6154913,44,1772,69706.99,18,Midwest,West North Central,NaN,Bluebird,Missouri Waltz,Flowering Dogwood,Hawthorn
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989","$55,328",1,[MST],Oro y plata,"[Beaverhead, Big Horn, Blaine, Broadwater, Car...",Helena,46.585709,-112.018417,1084225,10,12807,147039.71,4,West,Mountain,"Sapphire,Montana Moss Agate",Western Meadowlark,NaN,Ponderosa Pine,Bitterroot
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446","$59,566",3,"[CST, MST]",Equality before the law,"[Adams, Antelope, Arthur, Banner, Blaine, Boon...",Lincoln,40.808075,-96.699654,1961504,20,5427,77347.81,15,Midwest,West North Central,Blue Agate,Western Meadowlark,Beautiful Nebraska,Cottonwood,Goldenrod
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773","$58,646",4,"[MST, PST]",All for our country,"[Churchill, Clark, Douglas, Elko, Esmeralda, E...",Carson City,39.163914,-119.766121,3104614,9,13147,110571.82,7,West,Mountain,NaN,Mountain Bluebird,Home Means Nevada,Bristlecone Pine,Sagebrush
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691","$74,991",2,[EST],Live free or die,"[Belknap, Carroll, Cheshire, Coos, Grafton, Hi...",Concord,43.206898,-71.537994,1377529,18,6288,9349.16,44,Northeast,New England,Smokey Quartz,Purple Finch,Old New Hampshire,White Birch,Purple Lilac
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,"$37,288","$81,740",12,[EST],Liberty and Prosperity,"[Atlantic, Bergen, Burlington, Camden, Cape Ma...",Trenton,40.220596,-74.769913,9288994,43,1803,8722.58,46,Northeast,Mid-Atlantic,NaN,Eastern Goldfinch,NaN,Northern Red Oak,Common Meadow Violet
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683","$47,169",3,[MST],Crescit eundo,"[Bernalillo, Catron, Chaves, Cibola, Colfax, C...",Santa Fe,35.68224,-105.939728,2117522,8,13167,121590.3,5,West,Mountain,Turquoise,Chaparral Bird,O Fair New Mexico,Two-Needle Pinon Pine,Yucca Flower
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095","$67,844",27,[EST],Excelsior!,"[Albany, Allegany, Bronx, Broome, Cattaraugus,...",Albany,35.78043,-78.639099,20201249,21,5343,54554.98,30,Northeast,Mid-Atlantic,Garnet,Eastern Bluebird,NaN,Sugar Maple,Rose
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774","$53,855",13,[EST],Esse quam videri,"[Alamance, Alexander, Alleghany, Anson, Ashe, ...",Raleigh,46.82085,-100.783318,10439388,16,6684,53819.16,29,South,South Atlantic,NaN,Cardinal,The Old North State,Pine Tree,Flowering Dogwood
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071","$63,837",1,"[CST, MST]","Liberty and union, now and forever, one and in...","[Adams, Barnes, Benson, Billings, Bottineau, B...",Bismarck,42.652843,-73.757874,779094,31,3508,70698.32,17,Midwest,West North Central,NaN,Western Meadowlark,North Dakato Hymn,American Elm,Wild Prairie Rose
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937","$56,111",16,[EST],"With God, all things are possible","[Adams, Allen, Ashland, Ashtabula, Athens, Aug...",Columbus,39.961346,-82.999069,11799448,47,1549,44825.58,35,Midwest,East North Central,Ohio Flignt,Cardinal,Beautiful Ohio,Ohio Buckeye,Scarlet Carnation
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229","$51,924",5,[CST],Labor omnia vincit,"[Adair, Alfalfa, Atoka, Beaver, Beckham, Blain...",Oklahoma City,35.492207,-97.503342,3959353,23,4975,69898.87,19,South,West South Central,NaN,Scissor-Tailed Flycatcher,NaN,Redbud,Oklahoma Rose
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646","$63,426",5,"[MST, PST]","The Union, and Alis volat propriis","[Baker, Benton, Clackamas, Clatsop, Columbia, ...",Salem,44.938461,-123.030403,4237256,13,11249,98378.54,10,West,Pacific,Oregon Sunstone,Western Meadowlark,"Oregon, My Oregon",Douglas-Fir,Oregon-Grape
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220","$60,905",18,[EST],"Virtue, Liberty and Independence","[Adams, Allegheny, Armstrong, Beaver, Bedford,...",Harrisburg,40.264378,-76.883598,13002700,34,3213,46054.34,32,Northeast,Mid-Atlantic,NaN,NaN,Pennsylvania,Eastern Hemlock,Mountain Laurel
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830","$64,340",2,[EST],Hope,"[Bristol, Kent, Newport, Providence, Washington]",Providence,41.830914,-71.414963,1097379,51,811,1544.89,51,Northeast,New England,NaN,Rhode Island Red Chicken,"Rhode Island, It's for Me",Red Maple,Violet
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596","$52,306",7,[EST],Dum spiro spero,"[Abbeville, Aiken, Allendale, Anderson, Bamber...",Columbia,34.000343,-81.033211,5118425,30,3560,32020.49,40,South,South Atlantic,Amethyst,Carolina Wren,"Carolina,South Carolina On My Mind",Sabal Palmetto,Yellow Jessamine
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959","$56,274",1,"[CST, MST]",Under God the people rule,"[Aurora, Beadle, Bennett, Bon Homme, Brookings...",Pierre,44.367031,-100.346405,886667,15,7244,77115.68,16,Midwest,West North Central,Fairburn Agate,Ring-Necked Pheasant,"Hail, South Dakota!",Black Hills Spruce,American Pasque Flower
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922","$52,375",9,"[CST, EST]",Agriculture and Commerce,"[Anderson, Bedford, Benton, Bledsoe, Blount, B...",Nashville,36.16581,-86.784241,6910840,17,6643,42144.25,34,South,East South Central,NaN,Mockingbird,NaN,Tulip Poplar,Iris
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125","$60,629",36,"[CST, MST]",Friendship,"[Anderson, Andrews, Angelina, Aransas, Archer,...",Austin,30.27467,-97.740349,29145505,14,8751,268596.46,2,South,West South Central,Texas Blue Topaz,Northern Mockingbird,"Texas, Our Texas",Pecan,Bluebonnets
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877","$71,414",4,[CST],Industry,"[Beaver, Box Elder, Cache, Carbon, Daggett, Da...",Salt Lake City,40.777477,-111.888237,3271616,7,13534,84896.88,12,West,Mountain,Topaz,California Gull,Utah… This Is The Place,Quaking Aspen,Sego Lily
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178","$60,782",1,[EST],Freedom and Unity and Stella quarta decima ful...,"[Addison, Bennington, Caledonia, Chittenden, E...",Montpelier,44.262436,-72.580536,643077,26,4395,9616.36,43,Northeast,New England,Grossular Garnet,Hermit Thrush,These Green Mountains,Sugar Maple,Red Clover

In [ ]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring 
querystring = {"query":"Entry Level Data Scientist in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_scientists = response.json()

# Write the data to a json file
with open('entry_level_data_scientists.json', 'w') as outfile:
    json.dump(entry_level_data_scientists, outfile, indent=4)


# Print response
print(response.text)

In [ ]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring
querystring = {"query":"Entry Level Data Analyst in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_analyst = response.json()

# Write the data to a json file
with open('entry_level_data_analyst.json', 'w') as outfile:
    json.dump(entry_level_data_analyst, outfile, indent=4)


# Print response
print(response.text)

In [13]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df = pd.json_normalize(entry_level_data_analyst, 'data')
new_df = df.loc[:, columns]
new_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,Jobcertify,Entry level - Data Analyst I (Remote),https://www.linkedin.com/jobs/view/entry-level...,The Data Analyst I is responsible for the mana...,True,Indianapolis,IN,US,39.768402,-86.158066
1,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
2,THE wallmart,Entry level Data Analyst / Full time (Remote),https://www.recruit.net/job/data-analyst-jobs/...,Data analyst responsibilities include conducti...,False,San Jose,CA,US,37.338740,-121.885254
3,Attitude Remote Jobs,Entry Level - Research Data Analyst (Remote),https://www.linkedin.com/jobs/view/entry-level...,We are currently seeking an entry-level Resear...,True,Los Angeles,CA,US,34.052235,-118.243680
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Roswell,GA,US,34.023243,-84.361560
...,...,...,...,...,...,...,...,...,...,...
68,United States Army,Entry Level Data Analyst â US Army (13J),https://fountainvalley-ca.geebo.com/jobs-onlin...,Are your math and data skills ready for a chal...,False,Fountain Valley,CA,US,33.709023,-117.954410
69,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://maryland.tarta.ai/j/PNU2LoABCr2uuunQDN...,About Us\n\nStaffigo is in the business of pro...,False,Annapolis,MD,US,38.978447,-76.492180
70,United States Army,Entry Level Data Analyst â US Army (13J),https://southgate-ca.geebo.com/jobs-online/vie...,Are your math and data skills ready for a chal...,False,South Gate,CA,US,33.954740,-118.212010
71,THE wallmart,Entry level Data Analyst / Full time (Remote),https://www.whatjobs.com/jobs/Entry-level-Data...,Data analyst responsibilities include conducti...,False,San Jose,IL,US,40.305600,-89.602880
72,Metaravaaaaa,Full Time / Entry Level - Research Data Analys...,https://www.whatjobs.com/jobs/Full-Time/los-an...,The Research Data Analyst will work as part of...,False,Los Angeles,CA,US,34.052235,-118.243680

In [14]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df2 = pd.json_normalize(entry_level_data_scientists, 'data')
new_data_df = df2.loc[:, columns]
new_data_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,National Security Agency,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,Fort Meade,MD,US,39.104263,-76.734240
1,Insight Global,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,Our large trucking and leasing client is hirin...,False,Reading,PA,US,40.335648,-75.926870
2,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Seattle,WA,US,47.606210,-122.332070
3,Jobcertify,Entry level - Data Analyst I (Remote),https://www.linkedin.com/jobs/view/entry-level...,The Data Analyst I is responsible for the mana...,True,Indianapolis,IN,US,39.768402,-86.158066
4,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Lansing,MI,US,42.732536,-84.555534
5,SynergisticIT,Entry Level Data Scientist (Remote),https://www.datayoshi.com/offer/672278/entry-l...,Synergistic IT is a full-service staffing and ...,False,College Station,TX,US,30.627977,-96.334404
6,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Portland,ME,US,43.659100,-70.256820
7,SynergisticIT,ENTRY LEVEL DATA SCIENTIST,https://www.linkedin.com/jobs/view/entry-level...,SYNERGISTICIT wants every candidate to know th...,False,Oklahoma City,OK,US,35.467560,-97.516426
8,I28 Technologies,Entry Level Data Scientist-333325,https://www.glassdoor.com/job-listing/entry-le...,"• Analysis tools, defining, and implementing i...",False,Marysville,MI,US,42.912530,-82.486860
9,SynergisticIT,Junior Level Data Scientist,https://www.ziprecruiter.com/c/SynergisticIT/J...,"Job Description\n\nGreetings,\nSynergistic IT ...",False,Fremont,CA,US,37.548540,-121.988590
10,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.learn4good.com/jobs/lancaster/penn...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,Lancaster,PA,US,40.037876,-76.305510
11,SynergisticIT,Junior Data Scientist,https://www.linkedin.com/jobs/view/junior-data...,About Us\n\nSynergistic IT is a full-service s...,False,Seattle,WA,US,47.606210,-122.332070
12,Staffingly,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,Denver,CO,US,39.739235,-104.990250
13,SynergisticIT,Entry level data analyst,https://us.bebee.com/job/20230120-e9aaeec3e970...,SYNERGISTICIT wants every candidate to know th...,False,New York,NY,US,40.712776,-74.005974
14,Eurofins USA BioPharma Services,Cell and Molecular Biology Data Review Scienti...,https://www.wayup.com/i-j-Eurofins-USA-BioPhar...,Job Description\n\nEMPLOYEE RESPONSIBILITIES:\...,False,Lancaster,PA,US,40.037876,-76.305510
15,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
16,Synergistic IT,Entry Level Data Scientist,https://jooble.org/jdp/5273495840165349809/Ent...,Job Description\n\nSYNERGISTIC wants every can...,False,None,None,US,37.090240,-95.712890
17,IBM,Entry Level Associate Data Scientist (Commer...,https://texas.tarta.ai/j/G_THv4IB1CjJbXOrJl110...,Key Job Details\n• Country/Region:US\n• State:...,False,Dallas,TX,US,32.776665,-96.796990
18,Eurofins USA BioPharma Services,Scientist entry level,https://www.talent.com/view?id=63c1c91b03b5,Job Description\n• NOT A CODING OR DATA SCIENC...,False,Portage,MI,US,42.201153,-85.580000
19,Verizon,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,Boston,MA,US,42.360080,-71.058880
20,IBM,Entry Level - Associate Data Scientist (Commer...,https://www.simplyhired.com/job/VnbDXu6yp_FMxe...,Introduction\n\nA career in IBM Consulting emb...,False,New York,NY,US,40.712776,-74.005974
21,SAS Institute,2023 Expression of Interest - Internship & Ent...,https://www.karkidi.com/job-details/35691-2023...,Opportunities for students and early career ta...,True,Cary,NC,US,35.791540,-78.781120
22,Synergistic IT,ENTRY LEVEL DATA SCIENTIST,https://houston-tx.geebo.com/jobs-online/view/...,SYNERGISTICIT wants every candidate to know th...,False,Houston,TX,US,29.760427,-95.369804
23,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Cedar Rapids,IA,US,41.977880,-91.665630
24,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Madison,WI,US,43.072166,-89.400750
25,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.recruit.net/job/entry-level-jobs/4...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,None,AZ,US,34.048927,-111.093735
26,U.S. News & World Report,Health Data Scientist (Remote),https://www.linkedin.com/jobs/view/health-data...,U.S. News & World Report is a multifaceted dig...,True,Washington,DC,US,38.907192,-77.036870
27,LaSalle Network,Entry-Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,Job Description\n\nLaSalle Network is seeking ...,False,Chicago,IL,US,41.878113,-87.629800
28,General Motors,Entry Level - Masters Degree Data Analyst,https://www.karkidi.com/job-details/18787-entr...,To achieve our vision of a world with Zero Cra...,False,Detroit,MI,US,42.331430,-83.045750
29,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Lansing,MI,US,42.732536,-84.555534
30,SynergisticIT,Entry Level Data Scientist,https://us.bebee.com/job/20230121-424fb29bc910...,"At SynergisticIT, we aim to bring aboard IT pr...",False,New York,NY,US,40.712776,-74.005974
31,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Raleigh,NC,US,35.779590,-78.638176
32,Staffigo,Junior Data Analyst,https://www.linkedin.com/jobs/view/junior-data...,About Us\n\nStaffigo is in the business of pro...,False,Flint,MI,US,43.012527,-83.687454
33,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Nashua,NH,US,42.765366,-71.467570
34,THE wallmart,Entry level Data Analyst / Full time (Remote),https://www.recruit.net/job/data-analyst-jobs/...,Data analyst responsibilities include conducti...,False,San Jose,CA,US,37.338740,-121.885254
35,Resume Library,Data Scientist/ Data Analyst (Remote),https://www.mendeley.com/careers/job/data-scie...,SYNERGISTICIT wants every candidate to know th...,False,Los Angeles,CA,US,34.052235,-118.243680
36,The Kraft Heinz Company,Data Scientist (Remote),https://www.linkedin.com/jobs/view/data-scient...,General information\n\nAll posting locations R...,True,America,IL,US,37.138386,-89.123680
37,FLYR,Data Scientist Intern,https://ai-jobs.net/job/36256-data-scientist-i...,Our VisionFLYR Labs is focused on the relentle...,False,Los Angeles,CA,US,34.052235,-118.243680
38,Staffigo,Data Analyst (Junior),https://www.linkedin.com/jobs/view/data-analys...,About Us:\n\nStaffigo is in the business of pr...,False,Salt Lake City,UT,US,40.760780,-111.891045
39,Synergistic IT,Entry level data scientist,https://jooble.org/jdp/-7269870817535516091/En...,SYNERGISTICIT wants every candidate to know th...,False,California City,CA,US,35.125800,-117.985900
40,SynergisticIT,Entry level data analyst​/Data scientist​/Jr J...,https://www.learn4good.com/jobs/newark/new-jer...,Position: Entry level data analyst /Data scien...,False,Newark,NJ,US,40.735657,-74.172360
41,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Atlanta,GA,US,33.748753,-84.387690
42,Carrier,Sustainability Data Analyst,https://www.linkedin.com/jobs/view/sustainabil...,Date Posted:\n\n2022-06-29-07:00\n\nCountry:\n...,False,Palm Beach Gardens,FL,US,26.839610,-80.101910
43,CareerBuilder-US,Entry Level Data Scientist,https://boise-id.geebo.com/jobs-online/view/id...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Boise,ID,US,43.615017,-116.202320
44,RAND Corporation,"Statistical Research Programmer, Entry Level",https://www.karkidi.com/job-details/28242-stat...,"Statistical Research Programmers, Level 1 work...",False,Santa Monica,CA,US,34.019455,-118.491190
45,Unistaff Inc.,Data Engineer - Entry Level,https://www.glassdoor.com/job-listing/data-eng...,Data Entry Candidates needed in the Elk Grove ...,False,Elk Grove Village,IL,US,42.003918,-87.970345
46,RecruitTalent,Mid-Level Data Scientist,https://www.linkedin.com/jobs/view/mid-level-d...,"As a Mid-Level Data Engineer, this role focuse...",False,Herndon,VA,US,38.969555,-77.386100
47,PCS GLOBAL TECH,Data Engineer Entry Level (Bootcamp),https://www.glassdoor.com/job-listing/data-eng...,Data Engineer Responsibilities:\n• Liaising wi...,False,Los Angeles,CA,US,34.052235,-118.243680
48,Synergistic IT,Entry level data scientist,https://sunnyvale-ca.geebo.com/jobs-online/vie...,SYNERGISTICIT wants every candidate to know th...,False,Sunnyvale,CA,US,37.368830,-122.036350

In [27]:
# Add the two data frames together 
result_df = pd.concat([new_df, new_data_df], axis=0)
result_df.to_html('jobs.html',index=False,classes=["table","table-striped","table-bordered"])
result_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,Jobcertify,Entry level - Data Analyst I (Remote),https://www.linkedin.com/jobs/view/entry-level...,The Data Analyst I is responsible for the mana...,True,Indianapolis,IN,US,39.768402,-86.158066
1,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
2,THE wallmart,Entry level Data Analyst / Full time (Remote),https://www.recruit.net/job/data-analyst-jobs/...,Data analyst responsibilities include conducti...,False,San Jose,CA,US,37.338740,-121.885254
3,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.learn4good.com/jobs/aurora/illinoi...,About us\n\nStaffigo is in the business of pro...,False,Aurora,IL,US,41.760586,-88.320070
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Roswell,GA,US,34.023243,-84.361560
...,...,...,...,...,...,...,...,...,...,...
47,SynergisticIT,Entry level data analyst /Data scientist/Jr Ja...,https://www.whatjobs.com/jobs/Entry-level-data...,SYNERGISTICIT wants every candidate to know th...,False,Newark,NJ,US,40.735657,-74.172360
48,Unistaff Inc.,Data Engineer - Entry Level,https://www.glassdoor.com/job-listing/data-eng...,Data Entry Candidates needed in the Elk Grove ...,False,Elk Grove Village,IL,US,42.003918,-87.970345
49,RecruitTalent,Mid-Level Data Scientist,https://www.linkedin.com/jobs/view/mid-level-d...,"As a Mid-Level Data Engineer, this role focuse...",False,Herndon,VA,US,38.969555,-77.386100
50,PCS GLOBAL TECH,Data Engineer Entry Level (Bootcamp),https://www.glassdoor.com/job-listing/data-eng...,Data Engineer Responsibilities:\n• Liaising wi...,False,Los Angeles,CA,US,34.052235,-118.243680
51,Synergistic IT,Entry level data scientist,https://sunnyvale-ca.geebo.com/jobs-online/vie...,SYNERGISTICIT wants every candidate to know th...,False,Sunnyvale,CA,US,37.368830,-122.036350

In [16]:
# Connect to the MongoDB server
client = MongoClient()

# Choose the database you want to use
db = client.data

# Insert the clean_states_df data frame into a collection named "clean_states"
db.states.insert_many(clean_states_df.to_dict('records'))

# Insert the result_df data frame into a collection named "result"
db.jobs.insert_many(result_df.to_dict('records'))